

*{ outline: none !important; }
button{ cursor: pointer; }
.btnSubmit{
	color: #fff;
    background: linear-gradient(#fc8200,#ffa11a);
    min-width: 110px;
    margin-top: 10px;
    font-size: 18px;
    border: none !important;
    padding: 5px;
}

.logo img {
    max-width: 150px;
}

@media (min-width: 768px){
	.modal-dialog {width: 400px;}

}
