body, .ui-widget {
   font-family: Roboto !important;
}
.main {width: 100%; height: 64px; padding: 10px 0px; box-shadow: 0px 1px 5px 0px #ccc;}
img { max-width: 100%;}
.logo { width: 50%; display: inline-block;}
.login_sdk { float: right;}
.main_container {
    /* max-width: 1070; */
    /* margin: auto; */
    margin-top: 20px;
}
.disable input { pointer-events: none;}

.formWrap select, .formWrap input { font-size: 16px; height: 45px; width: 100%; border: 0px; color: #606060;}
.input_container.filledFiled, .input_container.filledFiled input, .input_container.filledFiled select{
    color: #0880ea !important;
}
.formWrap .icons { font-size: 15px;}
.file_container .fromfieldwrapper { box-shadow: none !important; border-radius: 0px; background: #fafafa; padding: 20px 20px 25px 20px;}
.main_container { max-width: 920px; margin: auto; background: #fafafa; padding: 30px 65px; -moz-box-shadow: 0 0 10px #888; -webkit-box-shadow: 0 0 10px#888; box-shadow: 0 0 10px #888; margin-top: 20px; margin-bottom: 40px;}
.hide{display: none !important;}
.section_container{ padding: 10px 20px; -moz-box-shadow: 0 0 10px #888; -webkit-box-shadow: 0 0 10px#888; box-shadow: 0 0 10px #888; background: #fff; margin: 10px 0px;}
.main_bar { margin-top: 30px;}
.profile_img { width: 100px; height: 100px; display: inline-block; border: 2px solid #aaa; padding: 3px; position: relative; border-radius: 10px;}
.profile_edit { display: inline-block; position: absolute; overflow: hidden; cursor: pointer; top: 0px; margin-left: 48px;}
.progressValue .ui-widget-header { border: 1px solid #00d491 !important; background: #00d491 !important;}
.progressWrap{ position: relative;}
.progressWrap .progressvalue{color: #06ad78; text-align: right;}
.ui-progressbar { height: 15px !important; -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;}
.ui-progressbar .ui-progressbar-value { margin: 0px !important;}
.profile_Left{ width: 100%; text-align: center;}
.file_container { text-align: center; padding: 20px 15px; position: relative;}
.input_container .materialfiled { padding: 0px 0px 0px 30px; }
.file_container .materialfiled { padding: 0px !important;}
.materialfiled .text1{ font-size: 14px;}
.materialfiled .text2{ font-size: 13px;}
.materialfiled .label{ top: 12px; font-size: 14px; position: absolute; display: block; width: 100%;}
/*.materialfiled .label{position: absolute; bottom: 100%; font-size: 11px; color: #666;}*/
.file_container input[type="file"] { position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;width: 100%; height: 100%;cursor: pointer; opacity: 0;}
.file_container .icons { position: relative;}
.file_container .text2 { color: #8c8c8c;}
.imageEdit{ color: #f48222; vertical-align: top; padding-left: 5px;}
.imageEdit .fa { font-size: 38px;}
#profileImage{ position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; cursor: pointer; opacity: 0; z-index: 9999;}
.profile_img img { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;}
.basic_info { margin: 5px 0px 15px 0px; font-size: 16px; color: #0a70bb; text-transform: capitalize;}
.ro_code { font-weight: normal;}
.new_profile_img { width: 80%; margin: auto;text-align: center;background: linear-gradient(#fc8200,#ffa11a); color: white;font-size: 12px; padding: 10px 0px;border-radius: 3px;box-shadow: 0px 1px 1px 0px #666;margin-top: 20px;}
.titleLeft {color: #606060;vertical-align: middle;width: 60%; float: left;}
.titleRight{ float: left;  width: 40%;  text-align: right; margin: 5px 0;}
.headfiled { padding: 0px 15px;}
.formWrap {position: relative;margin-bottom: 0px;}
.fromfieldwrapper { -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px #888; box-shadow: 0 0 5px #888; background: #fff;padding: 1px 25px; border-radius: 30px; margin: 10px 0px; position: relative;}
.fromfieldwrapper.label_wrap{ box-shadow: none; padding: 0; margin: 0;}
.title { font-size: 18px; display: inline-flex; line-height: 30px;}
.editIcon{ font-size: 35px; vertical-align: sub;}
.edit_container { display: inline-flex;}
.sub_header:after { content: " "; display: table; clear: both;}
.plusminusIcon .fa-plus:before { content: "\f068" !important;}
.plusminusIcon.collapsed .fa-plus:before { content: "\f067" !important;}
.basicDetails .edit_button{ display: none; }
.cancel { background: white; border: 1px solid; color: #1111118f;}
.display_only hr { display: none;}
.display_only,.display_only input, .display_only select { border: 0px; color: #606060 !important; background: transparent;}
.plusminusIcon { padding: 7px 15px; -moz-box-shadow: 0 0 10px #888; -webkit-box-shadow: 0 0 10px#888; box-shadow: 0 0 3px #888; border-radius: 4px; color: #f1592a;}
.readonly .cancel, .readonly .save { display: none;}
.editmode .edit_button{ display: none;}
.edit.cancel , .edit.save { width: 100px; background: #2d9ed3; margin-left: 10px; text-align: center;display: inline-block;color: white;padding: 5px 0px;border-radius: 3px;box-shadow: 0px 1px 1px 0px #666;font-size: 12px;cursor: pointer;font-weight: 500;border: 1px solid #2d9ed3;}
.error {color: red;font-size: 10px;position: absolute;}
.file_container.display_only {display: none;}
/* Loader */
.loader { position: fixed; width: 100%; height: 100%; background: white; z-index: 9999; top: 0px; left: 0px; text-align: center;}
.fetching_profile { width: 200px; border-radius: 4px; padding: 10px; position: absolute; left: 50%; top: 50%; margin-left: -100px; margin-top: -50px; letter-spacing: 1px; border: 2px solid; box-shadow: 1px 2px 0px 0px;}
.cityhide{ display: none !important; }
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
/* Loader */
/* fine crop */
.cropHolder {width: 100vw; height: 100vh; display: none;}
#cropWrapper {position: absolute; top:0; left:0; right: 0; bottom: 0; margin: auto; width: 100vw; height: 100vh;}
#bgCanvas {position: absolute; top:0; left:0; right: 0; bottom: 0; margin: auto;}
#getCropped {position: absolute; top:0; left:0; right: 0; bottom: 0; margin: auto;}
#blacksheet {position: absolute; top:0; left:0; background-color: rgba(0,0,0,0.7); right: 0; bottom: 0; margin: auto; width: 100%; height: 100%;}
.cropInputs {position: fixed;top:0;left: auto; right:0; width: 350px;height: 100vh;background-color: #e7e8e8;text-align: center;}
.inputtools p {text-indent: 1rem;}
.inputtools p span {display: block; min-width: 40px; height: 40px; float: left;}
.inputtools p span img {width: 40px;height: auto; line-height: 40px;}
.cropButtons { border: 0px solid #000; width: 40px; height: 40px;  border: 2px solid #fff; border-radius: 40px; text-align: center; cursor: pointer;
background: #1d9166; /* Old browsers */
background: -moz-linear-gradient(-45deg, #1d9166 0%, #06ad8c 46%, #157050 90%, #157050 90%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #1d9166 0%,#06ad8c 46%,#157050 90%,#157050 90%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #1d9166 0%,#06ad8c 46%,#157050 90%,#157050 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d9166', endColorstr='#157050',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.fromfieldwrapper.VERIFIED { pointer-events: none !important; }
.cropButtons img {width: 25px;}
/* input styles */
.cropRange { width: calc(100% - 20px); height: 5px; background: #333; position: relative; top: -4px; left: 4px;
    margin: 0.7rem;  background: #68b390; background: -moz-linear-gradient(left, #68b390 0%, #33afb5 50%, #23dce6 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,#68b390), color-stop(50%,#33afb5), color-stop(100%,#23dce6)); background: -webkit-linear-gradient(left, #68b390 0%,#33afb5 50%,#23dce6 100%);
    background: -o-linear-gradient(left, #68b390 0%,#33afb5 50%,#23dce6 100%); background: -ms-linear-gradient(left, #68b390 0%,#33afb5 50%,#23dce6 100%); background: linear-gradient(left, #68b390 0%,#33afb5 50%,#23dce6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68b390', endColorstr='#23dce6',GradientType=1 ); -webkit-border-radius: 40px;
    -moz-border-radius: 40px; border-radius: 40px;
}
input[type="range"] { -webkit-appearance: none;  background-color: black;  height: 5px;}
input[type="range"]::-webkit-slider-thumb { -webkit-appearance: none; position: relative; top: 0px; z-index: 1; width: 20px; height: 20px;
    cursor: pointer; border: 2px solid rgb(56, 59, 59); -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px; background-color: rgb(176, 196, 195);}
input[type="range"]:hover ~ #rangevalue,input[type="range"]:active ~ #rangevalue {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100); opacity: 1; top: -75px;}
input[type="range"]:focus{outline:none;}
#cropSubmit {
    margin-top: 1rem;border-radius: 4px;cursor: pointer;border: 0px solid #000;background: #1d9166;background: -moz-linear-gradient(-45deg, #1d9166 0%, #06ad8c 46%, #157050 90%, #157050 90%); 
    background: -webkit-linear-gradient(-45deg, #1d9166 0%,#06ad8c 46%,#157050 90%,#157050 90%); 
    background: linear-gradient(135deg, #1d9166 0%,#06ad8c 46%,#157050 90%,#157050 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d9166', endColorstr='#157050',GradientType=1 );
    color: #fff;padding:0.5rem 1rem; 
}

#closeCrop { margin-top: 1rem; border-radius: 4px; cursor: pointer; border: 0px solid #000; background: #1d9166; 
    background: -moz-linear-gradient(-45deg, #1d9166 0%, #06ad8c 46%, #157050 90%, #157050 90%);
    background: -webkit-linear-gradient(-45deg, #1d9166 0%,#06ad8c 46%,#157050 90%,#157050 90%);
    background: linear-gradient(135deg, #1d9166 0%,#06ad8c 46%,#157050 90%,#157050 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d9166', endColorstr='#157050',GradientType=1 );
    color: #fff; padding:0.5rem 1rem; 
}
button#zplus , button#zminus {
    display: none;
}

/* gydgydgdgydgydgydygd */ 

.formWrap select:focus ~ label, .formWrap input:focus  ~ label,
.readonlyFilled select ~ label, .readonlyFilled input ~ label,  
.filledFiled label {
    font-size: 12px !important;
    top: 5px !important;
} 
.formWrap select:focus, .formWrap input:focus, .readonlyFilled select, .readonlyFilled input, .filledFiled select, .filledFiled input{
    font-size: 12px !important; 
    height: 42px !important;
    margin-top: 10px !important;
}
.formWrap .icons {
    font-size: 15px;
    top: 12px;
}
.formWrap input[type="radio"]{
    height: 25px !important;
    margin-top: 0 !important;
    z-index: 9;
    position: relative;
    width: 25px;
    margin-right: 15px;
    top: 8px;
}
.radio_btn_wrap input[type="radio"]:focus{
    font-size: 14px !important;
}
.radio_btn_wrap{
    margin-bottom: 15px;
    color: #606060 !important;
}
.radio_btn_wrap input[type="radio"]:focus  ~ label,.filledFiled .label_wrap label,.readonlyFilled .radio_btn_wrap label{
    font-size: 14px !important;
    top: 12px !important; 
    color : #606060 !important;
    position: relative !important;
}
.radio_btn_wrap   label{
    position: relative !important;
}
