	.circleStyle{
	    width: 35px;
	    height: 35px;
	    background: #f1592a;
	    border-radius: 50%;
	    cursor: pointer;
	    display: inline-block;
	    font-size: 24px;
	    font-weight: 600;
	    text-transform: uppercase;
	    text-align: center;
	    border: red;
	    color: #fff;
	    position: relative;
	}
	.userFirstName{
		font-weight: 600;
	    text-transform: uppercase;
	    font-size: 14px;
	}
	.userCode{
		font-size: 12px;
	    font-weight: 600;
	}
	#profilelink{
		cursor: pointer;
	}
	.rbTopbox{
		background-color: #fff;
	    cursor: pointer;
	    display: inline-block;
	    overflow: hidden;
	    padding: 0;
	    vertical-align: middle;
	    border: 1px solid #dadce0;
	    outline: none;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    -webkit-border-radius: 8px;
	    border-radius: 8px;
	    padding: 5px 5px;
	}

	.gb_rbTopbox{
		display: inline-block;
    	padding-left: 7px;
    	padding: 1px 2px;
    	text-align: center;
    	vertical-align: text-bottom;
    	width: 78px;
	}

	.circleStyle span {
    	position: absolute;
    	top: -1px;
    	left: 0px;
    	right: 0px;
    	bottom: 0px;
	}

	.boxStyle {
		width:35px;
		height:35px;
		display:inline-block;
		background:#fff; 
		cursor:pointer;
		display:inline-block;
		font-size:24px;
		font-weight:600;
		text-transform:uppercase;
		text-align: center;
		color:#ef663c;
	} 
	.loginStyle1 {
		border:none;
		color:#fff;
	}
	.loginStyle2 {
		color:#fff;
		background:none;
		border:none;
	}

