.formWrap {
    position: relative;
    margin-bottom: 15px;
}
.formWrap .icons {
    position: absolute;
    left: 0;
    top: 8px;
    font-size: 18px;
}
.material .inputInfo {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #ccc;
    padding: 4px 14px;
    color: #000;
    font-weight: 700;
}
.material {
    padding: 0;
    padding-left: 25px;
    position: relative;
    margin: 5px;
    border: 0;
    overflow: visible;
}
.material input, .material select {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 5px 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #DDD;
    font-size: 100%;
    outline: 0;
    background: white;
    min-height: 34.5px;
}
.material label.focused, 
.material .row ~ label, 
.material input:valid ~ label, 
.material input.hasdatepicker ~ label,
.material textarea:focus ~ label, 
.material input:focus ~ label, 
.material select ~ label { 
/* .material input:disabled ~ label { */
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    top: 0;
}
.material label {
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: 100%;
    color: #607d8b;
    -webkit-transform-origin: 0 -150%;
    transform-origin: 0 -150%;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease,-webkit-transform 300ms ease;
    pointer-events: none;
}
.field_con label {
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 5px;
}

.material hr {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    left: 25px;
    width: calc(100% - 25px);
    height: 2px;
    border: 0;
    background: #607d8b;
    font-size: 1px;
    will-change: transform,visibility;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    visibility: hidden;
    z-index: 10;
}
.material input:focus ~ hr, .material select:focus ~ hr {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible;
}
.material select {
    padding-top: 13px;
}
