{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <title>Accounts Management Portal</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'plugins/bootstrap/css/bootstrap_new.min.css' %}" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{% static 'plugins/chartist-js/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/chartist-js/chartist-init.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/chartist-plugin-tooltip-master/chartist-plugin-tooltip.css' %}"
        rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="{% static 'plugins/c3-master/c3.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static 'css/colors/blue.css' %}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Disable right clicks on the portal. -->
    <script type="text/javascript">
        document.addEventListener('contextmenu', event => event.preventDefault());
    </script>
</head>

<style>
    .modal-content {
        width: 100%;
    }

    .modal-dialog-centered {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: calc(100% - (.5rem * 2));
    }

    @media (min-width: 576px) {
        .modal-dialog-centered {
            min-height: calc(100% - (1.75rem * 2));
        }
    }
</style>
{% block style %}{% endblock %}

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->

                            <!-- Light Logo icon -->
                            <img src="{% static 'images/logo-light-icon.png' %}" alt="homepage"
                                class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>

                            <!-- Light Logo text -->
                            <!-- <img src="{% static 'images/logo-light-text.png' %}" class="light-logo" alt="homepage" /></span> -->
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                                href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        {% block search %}{% endblock %}
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark"
                                href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    src="{% if user.photo %}{{user.photo.url}}{% else %}{% static 'images/img.jpg' %}{% endif %}"
                                    alt="user" class="profile-pic m-r-10" />{{user.get_full_name}}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        {% if 'ops' in request.get_full_path %}
                            <li> <a class="waves-effect waves-dark" href="{% url 'users' %}"
                                    aria-expanded="false"><i class="mdi mdi-account-check"></i><span
                                        class="hide-menu">Users</span></a>
                            </li>
                            <li> <a class="waves-effect waves-dark" href="{% url 'docs' %}"
                                    aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Documents</span></a>
                            </li>
                            {% if request.user.decrypted_email in bulk_mapping_allowed_user %}
                                <li>
                                    <a class="waves-effect waves-dark" href="{% url 'ops_change_mapping' %}" aria-expanded="false">
                                        <i class="mdi mdi-download"></i>
                                        <span class="hide-menu">Mapping Change</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% elif 'hr' in request.get_full_path %}
                            <li> <a class="waves-effect waves-dark" href="{% url 'employees' %}"
                                    aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span
                                        class="hide-menu">Employees</span></a>
                            </li>
                            {% if request.user.decrypted_email in bulk_mapping_allowed_user %}
                                <li>
                                    <a class="waves-effect waves-dark" href="{% url 'hr_change_mapping' %}" aria-expanded="false">
                                        <i class="mdi mdi-download"></i>
                                        <span class="hide-menu">Mapping Change</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% elif 't2' in request.get_full_path %}
                            {% if request.user.decrypted_email in bulk_mapping_allowed_user %}
                                <li>
                                    <a class="waves-effect waves-dark" href="{% url 't2_change_mapping' %}" aria-expanded="false">
                                        <i class="mdi mdi-download"></i>
                                        <span class="hide-menu">Mapping Change</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
            <!-- Bottom points-->
            <div class="sidebar-footer">
                <!-- item--><a href="{% url 'dash_logout' %}" class="link" data-toggle="tooltip"
                    title="Logout"><i class="mdi mdi-power"></i></a>
            </div>
            <!-- End Bottom points-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                {% block page_title %}{% endblock %}
                {% if messages %}
                <div class="row">
                    <div class="col-lg-12">
                        {% for message in messages %}
                        <div class="alert alert-{%if message.tags == 'error'%}danger{%else%}{{message.tags}}{%endif%} alert-dismissible fade show"
                            style="font-size: 120%; font-weight: 400;">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{message|safe}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% block page_content %}{% endblock %}
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <!-- <footer class="footer"></footer> -->
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'plugins/bootstrap/js/tether.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'plugins/sticky-kit-master/sticky-kit.min.js' %}"></script>
    <!--jQuery-Autocomplete -->
    <script src="{% static 'plugins/jquery-autocomplete/jquery.autocomplete.min.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>
    {% block js %}{% endblock %}
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    <!-- <script src="{% static 'plugins/chartist-js/chartist.min.js' %}"></script> -->
    <!-- <script src="{% static 'plugins/chartist-plugin-tooltip-master/chartist-plugin-tooltip.min.js' %}"></script> -->
    <!--c3 JavaScript -->
    <!-- <script src="{% static 'plugins/d3/d3.min.js' %}"></script> -->
    <!-- <script src="{% static 'plugins/c3-master/c3.min.js' %}"></script> -->
    <!-- Chart JS -->
    <!-- <script src="{% static 'js/dashboard1.js' %}"></script> -->
</body>

</html>