{% extends "accounts/base.html" %} {% load static from staticfiles %}
{% block search %}
<li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark"
        href="javascript:void(0)"><i class="ti-search"></i></a>
    <form class="app-search" method="GET" action="{% url 'docs' %}">
        <input id="search_input" type="text" name="search" class="form-control" placeholder="Search & enter">
        <a class="srh-btn"><i class="ti-close"></i></a>
    </form>
</li>
{% endblock %}

{% block page_title %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Documents</h3>
    </div>
    <div class="col-md-7 col-4 align-self-center"> </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
{% endblock %}

{% block page_content %}
<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">List of all the documents pending verification</h4>
                <h6 class="card-subtitle"></h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>User</th>
                                <th>Code</th>
                                <th>Agency Name</th>
                                <th>Type</th>
                                <th>Value</th>
                                <th>Image</th>
                                <th>Accept</th>
                                <th>Reject</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for doc in object_list %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td><a href="{% url 'user_profile' doc.user.id %}">{{doc.user.get_full_name}}</a></td>
                                <td>{{doc.user.unique_code}}</td>
                                <td>
                                    {%if doc.user.agency_name%}
                                    {{doc.user.agency_name}}
                                    {%else%}
                                    --
                                    {%endif%}
                                </td>
                                <td>{{doc.get_type_display}}</td>
                                <td>
                                    {%if doc.name%}
                                    {{ doc.name }}
                                    {%else%}
                                    --
                                    {%endif%}
                                </td>
                                <td>
                                    {% if doc.file %}
                                    <a href="{{doc.file.url}}" target="_blank">
                                        <embed src="{{doc.file.url}}" height="150px" width="300px">
                                    </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <form class="form-horizontal form-material" action="{% url 'doc_accept' %}"
                                        method="POST">
                                        {% csrf_token %}
                                        <input type="text" name="doc" value="{{doc.id}}" hidden>
                                        <button type="submit" class="btn btn-success" style="margin:20px;">Accept</button>
                                    </form>
                                </td>
                                <td>
                                    <form class="form-horizontal form-material" action="{% url 'doc_reject' %}"
                                        method="POST">
                                        {% csrf_token %}
                                        <input type="text" name="doc" value="{{doc.id}}" hidden>
                                        <button type="submit" class="btn btn-danger" style="margin:20px;">Reject</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if is_paginated %}
            <div class="card-block">
                <div class="pagination" style="float: right; margin-right: 100px; margin-bottom: 40px; ">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                        <a class="btn btn-success" style="color: #ffffff" href="{%if '?' in request.get_full_path%}{{request.get_full_path}}&{%else%}?{%endif%}page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}
                        <button class="btn">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </button>
                        {% if page_obj.has_next %}
                        <a class="btn btn-success" style="color: #ffffff" href="{%if '?' in request.get_full_path%}{{request.get_full_path}}&{%else%}?{%endif%}page={{ page_obj.next_page_number }}">Next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}