{% extends "accounts/base.html" %} {% load static from staticfiles %} {% load commontags %}
{% block style %}
<style>
    .autocomplete-suggestion {
        padding: 2px 5px;
        white-space: nowrap;
        overflow: hidden;
    }

    .autocomplete-selected {
        background: #F0F0F0;
    }

    .form-control strong {
        font-weight: normal;
        color: #3399FF;
    }
</style>
{% endblock %}

{% block search %}
<li class="nav-item hidden-sm-down search-box"><a
        class="nav-link hidden-sm-down text-muted waves-effect waves-dark"
        href="javascript:void(0)"><i class="ti-search"></i></a>
    <form class="app-search" method="GET" action="{% url 'employees' %}">
        <input type="text" name="search" class="form-control" placeholder="Search & enter"> <a
            class="srh-btn"><i class="ti-close"></i></a>
    </form>
</li>
{% endblock %}

{% block page_title %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Employees</h3>
    </div>
    <div class="col-md-7 col-4 align-self-center"></div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
{% endblock %}

{% block page_content %}
<div class="modal fade" id="emp_termiate_modal" tabindex="-1" role="dialog"
    aria-labelledby="emp_termiate_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emp_termiate_modal_label">Terminate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="termination-form" action="#" method="POST">
                    {% csrf_token %}
                    <label style="font-weight: 600;"></label>
                    <input type="text" name="employee" id="employee" class="form-control" hidden>
                    <input type="text" name="user" id="user" hidden>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="termination-form">
                    Terminate
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reporting_change_modal" tabindex="-1" role="dialog"
    aria-labelledby="reporting_change_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reporting_change_modal_label">Change
                    Reporting</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="reporting-change-form" action="#" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label style="font-weight: 600;">Start Date</label>
                        <input type="date" name="start_date" max="{{ max_date_allowed }}"
                            class="form-control" required>
                    </div>
                    <div class="form-group" style="margin-bottom: 0;">
                        <label style="font-weight: 600;">New Manager</label>
                        <input type="text" name="employee" id="emp" hidden required>
                        <input type="text" name="reporting_type" id="reporting_type" hidden required
                            value="3">
                        <input type="text" placeholder="Search by name" name="manager" id="emp_man"
                            class="form-control" required autocomplete="off">
                        <input type="text" name="manager_id" id="emp_man_id" hidden required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="reporting-change-form" class="btn btn-primary">
                    Change
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">List of all the employees</h4>
                <h6 class="card-subtitle"></h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Employee</th>
                                <th>Role(s)</th>
                                <th>Joining Date</th>
                                <th>Current Reporting Manager</th>
                                <th>Reporting Start Date</th>
                                <th>Reporting End Date</th>
                                <th>Reporting Type</th>
                                {#                                <th>Change Reporting</th>#}
                                {#                                <th>Terminate Employee</th>#}
                            </tr>
                        </thead>
                        <tbody>
                            {% for emp in object_list %}
                            {% with forloop.counter as outercounter %}
                            {% call_method emp 'get_current_and_future_reportings' 3 as reportings %}
                            {% if reportings %}
                            {% for rep in reportings %}
                            <tr>
                                {% if forloop.first %}
                                <td rowspan="{{ reportings|length }}">
                                    {{ outercounter }}
                                </td>
                                <td rowspan="{{ reportings|length }}">
                                    <a
                                        href="{% url 'employee_profile' emp.id %}">{{ emp.get_full_name }}</a>
                                </td>
                                <td rowspan="{{ reportings|length }}">
                                    {% if emp.roles %}{{ emp.roles }}{% else %}
                                    --{% endif %}
                                </td>
                                <td rowspan="{{ reportings|length }}">
                                    {% if emp.created_at %}
                                    {{ emp.created_at.date }}{% else %}
                                    --{% endif %}
                                </td>
                                {% endif %}
                                <td>
                                    {% if rep.manager %}
                                    {{ rep.manager.get_full_name }}{% else %}
                                    --{% endif %}
                                </td>
                                <td>
                                    {% if rep.start_date %}
                                    {{ rep.start_date }}{% else %}--{% endif %}
                                </td>
                                <td>
                                    {% if rep.end_date %}
                                    {{ rep.end_date }}{% else %}--{% endif %}
                                </td>
                                <td>
                                    {% if rep.get_reporting_type_display %}
                                    {{ rep.get_reporting_type_display }}{% else %}
                                    --{% endif %}
                                </td>
                                {#                                    <td>#}
                                {#                                        {%if not rep.end_date%}#}
                                {#                                        <button type="button" class="btn btn-primary" data-toggle="modal"#}
                                {#                                            data-target="#reporting_change_modal" data-emp_id="{{emp.id}}"#}
                                {#                                            data-emp_name="{{emp.first_name}}" data-min_date="{{min_date_allowed}}"#}
                                {#                                            data-min="{%if rep%}{{rep.start_date|add_one_day|date:'Y-m-d'}}{%else%}{{min_date_allowed}}{%endif%}"#}
                                {#                                            {% if emp.is_active %}{% else %} data-toggle="tooltip"#}
                                {#                                            data-placement="top" title="Employee account has been disabled! No further changes are allowed."#}
                                {#                                            disabled{% endif %} data-reporting_type="3">#}
                                {#                                            Change#}
                                {#                                        </button>#}
                                {#                                        {%endif%}#}
                                {#                                    </td>#}
                                {#                                    {% if forloop.first %}#}
                                {#                                    <td rowspan="{{reportings|length}}">#}
                                {#                                        <button type="button" class="btn btn-danger" data-toggle="modal"#}
                                {#                                            data-target="#emp_termiate_modal" data-toggle="tooltip"#}
                                {#                                            data-placement="top" {% if emp.is_active %}{% else %} title="Employee account has been disabled! No further changes are allowed."#}
                                {#                                            disabled{% endif %} data-emp_id="{{emp.id}}" data-emp_name="{{emp.first_name}}">Terminate</button>#}
                                {#                                    </td>#}
                                {#                                    {%endif%}#}
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td>{{ outercounter }}</td>
                                <td>
                                    <a
                                        href="{% url 'employee_profile' emp.id %}">{{ emp.get_full_name }}</a>
                                </td>
                                <td>{% if emp.roles %}{{ emp.roles }}{% else %}
                                    --{% endif %}</td>
                                <td>{% if emp.created_at %}
                                    {{ emp.created_at.date }}{% else %}
                                    --{% endif %}</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                {#                                    <td>#}
                                {#                                        <button type="button" class="btn btn-primary" data-toggle="modal"#}
                                {#                                            data-target="#reporting_change_modal" data-emp_id="{{emp.id}}"#}
                                {#                                            data-emp_name="{{emp.first_name}}" data-min_date="{{min_date_allowed}}"#}
                                {#                                            data-min="{%if rep%}{{rep.start_date|add_one_day|date:'Y-m-d'}}{%else%}{{min_date_allowed}}{%endif%}"#}
                                {#                                            {% if emp.is_active %}{% else %} data-toggle="tooltip"#}
                                {#                                            data-placement="top" title="Employee account has been disabled! No further changes are allowed."#}
                                {#                                            disabled{% endif %} data-reporting_type="3">#}
                                {#                                            Assign#}
                                {#                                        </button>#}
                                {#                                    </td>#}
                                {#                                    <td>#}
                                {#                                        <button type="button" class="btn btn-danger" data-toggle="modal"#}
                                {#                                            data-target="#emp_termiate_modal" data-toggle="tooltip"#}
                                {#                                            data-placement="top" {% if emp.is_active %}{% else %} title="Employee account has been disabled! No further changes are allowed."#}
                                {#                                            disabled{% endif %} data-emp_id="{{emp.id}}" data-emp_name="{{emp.first_name}}">Terminate</button>#}
                                {#                                    </td>#}
                            </tr>
                            {% endif %}
                            {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if is_paginated %}
            <div class="card-block">
                <div class="pagination"
                    style="float: right; margin-right: 100px; margin-bottom: 40px; ">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                        <a class="btn btn-success" style="color: #ffffff"
                            href="
                                    {% if '?' in request.get_full_path %}{{ request.get_full_path }}&{% else %}?{% endif %}page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}
                        <button class="btn">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </button>
                        {% if page_obj.has_next %}
                        <a class="btn btn-success" style="color: #ffffff"
                            href="
                                    {% if '?' in request.get_full_path %}{{ request.get_full_path }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}">Next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $('#reporting_change_modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var emp_id = button.data('emp_id');
        var emp_name = button.data('emp_name');
        var min = new Date(button.data('min'));
        var min_date = new Date(button.data('min_date'));
        var min_date_allowed = new Date(Math.max.apply(null, [min, min_date]));
        var month_e = ("0" + (min_date_allowed.getMonth() + 1)).slice(-2);
        var day_e = ("0" + min_date_allowed.getDate()).slice(-2);
        var year_e = min_date_allowed.getFullYear();
        var formatted_date = year_e + "-" + month_e + '-' + day_e;
        var modal = $(this);
        modal.find('.modal-title').text('Change reporting of ' + emp_name);
        modal.find('.modal-body form').attr('action', '{% url "change_reporting" %}');
        modal.find('.modal-body input[name="start_date"]').attr('min', formatted_date);
        modal.find('.modal-body input[name="start_date"]').val(formatted_date);
        modal.find('.modal-body input[name="manager"]').val('');
        $('#emp').val(emp_id)
    })
</script>
<script>
    $('#emp_termiate_modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var emp_id = button.data('emp_id');
        var emp_name = button.data('emp_name');
        var modal = $(this);
        modal.find('.modal-title').text('Terminate ' + emp_name);
        modal.find('.modal-body form').attr('action', '{% url "terminate_employee" %}');
        modal.find('.modal-body label').text('Are you sure about terminating `' + emp_name +
            '`?');
        $('#employee').val(emp_id)
    })
</script>
<script>
    $('#emp_man').autocomplete({
        minChars: 3,
        showNoSuggestionNotice: true,
        ajaxSettings: {
            headers: {
                'api-key': '{% read_setting "CURRENT_ENV_API_KEY" %}',
                'secret-key': '{% read_setting "CURRENT_ENV_SECRET_KEY" %}'
            }
        },
        serviceUrl: '/api/v1/employee_search/',
        onSelect: function (suggestion) {
            $('#emp_man_id').val(suggestion.data);
        },
        appendTo: $('#reporting-change-form')
    });
    $('.autocomplete-suggestions').attr('class', 'form-control')
</script>
{% endblock %}