{% extends "accounts/base.html" %} {% load static from staticfiles %}
{% block page_title %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Dashboard</h3>
    </div>
    <div class="col-md-7 col-4 align-self-center"> </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
{% endblock %}

{% block page_content %}
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">Overview</h3>
                                <h6 class="card-subtitle"></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th># of users</th>
                                        <th># of registrations yesterday</th>
                                        <th># of registrations today</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{all_users}}</td>
                                        <td>{{new_registrations_yesterday}}</td>
                                        <td>{{new_registrations_today}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}