{% extends "accounts/base.html" %} {% load static from staticfiles %} {% load commontags %}
{% block style %}
    <style>
        .autocomplete-suggestion {
            padding: 2px 5px;
            white-space: nowrap;
            overflow: hidden;
        }

        .autocomplete-selected {
            background: #F0F0F0;
        }

        .form-control strong {
            font-weight: normal;
            color: #3399FF;
        }

        .labelText {
            font-size: 18px;
            font-weight: 600;
        }

        .inputText {
            font-size: 20px;
            font-weight: 600;
        }

        .icon-selected {
            content: "\F139";
            font-size: 29px
        }

        .brd {
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
            align-items: center;
        }

        .form-material .form-group {
            margin: 0px;
            -webkit-box-shadow: 0 6px 9px -7px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 6px 9px -7px rgba(0, 0, 0, 0.5);
            box-shadow: 0 6px 9px -7px rgba(0, 0, 0, 0.5);
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .docImg {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }

        .docImg:hover {
            opacity: 0.7;
        }

        /* The Modal (background) */
        .imgmodal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.9);
            /* Black w/ opacity */
        }

        /* Modal Content (image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        /* Caption of Modal Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation */
        .modal-content,
        #caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @-webkit-keyframes zoom {
            from {
                -webkit-transform: scale(0)
            }

            to {
                -webkit-transform: scale(1)
            }
        }

        @keyframes zoom {
            from {
                transform: scale(0)
            }

            to {
                transform: scale(1)
            }
        }

        /* The Close Button */
        .close {
            position: absolute;
            top: 93px;
            right: 60px;
            color: #000;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
            background: white;
            padding: 0px 17px;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px) {
            .modal-content {
                width: 100%;
            }
        }
    </style>
{% endblock %}

{% block page_title %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-4 col-7 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">
                {% if object.user_type == 1 %}Employee{% else %}User{% endif %} Profile
            </h3>
        </div>
        <div class="col-md-4 offset-md-2 col-5 align-self-right">
                {% if object.is_active %}
                    <button type="button" class="col-md-4 btn btn-danger" style="float: right"
                        data-toggle="modal"
                        data-target="#change_user_status" data-toggle="tooltip"
                        data-placement="top" data-emp_id="{{ object.id }}"
                        data-emp_name="{{ object.first_name }}">
                        User Deactivate
                    </button>
                {% else %}
                    <button type="button" class="col-md-4 btn btn-success" style="float: right"
                        data-toggle="modal"
                        data-target="#change_user_status" data-toggle="tooltip"
                        data-placement="top" data-emp_id="{{ object.id }}"
                        data-emp_name="{{ object.first_name }}">
                        User Activate
                    </button>
                {% endif %}
        </div>
        <div class="col-md-2 col-5 align-self-right">
            <button type="button" class="col-md-12 btn btn-primary" style="float: right"
                    data-toggle="modal"
                    data-target="#set_referral_modal" data-toggle="tooltip"
                    data-placement="top" data-emp_id="{{ object.id }}"
                    data-emp_name="{{ object.first_name }}">
                Assign Referral Code
            </button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
{% endblock %}

{% block page_content %}
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-block">
                    <center class="m-t-30">
                        {% if object.photo %}
                            <a href="{{ object.photo.url }}" target="_blank">
                        {% endif %}
                        <img src="{% if object.photo %}{{ object.photo.url }}{% else %}{% static 'images/img.jpg' %}{% endif %}"
                             class="img-circle" width="200"/>
                        {% if object.photo %}
                            </a>
                        {% endif %}
                        <h4 class="card-title m-t-10">{{ object.get_full_name }}</h4>
                        <h6 class="card-subtitle">{{ object.unique_code }}</h6>
                    </center>
                </div>
            </div>
            <!-- <div class="card">
            <div class="card-block">
                <center class="m-t-30">
                    {% if object.photo %}
                    <a href="{{object.photo.url}}" target="_blank">
                        {% endif %}
                        <img src="{% if object.photo %}{{object.photo.url}}{% else %}{% static 'images/img.jpg' %}{% endif %}"
                            class="img-circle" width="200" />
                        {% if object.photo %}
                    </a>
                    {% endif %}
                    <h4 class="card-title m-t-10">{{ object.get_full_name }}</h4>
                    <h6 class="card-subtitle">{{ object.unique_code }}</h6>
                </center>
            </div>
        </div> -->
        </div>
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <div class="card-block">
                    <form class="form-horizontal form-material">

                        <!-- New enhancement -->
                        <div class="form-group">
                            <div class="row brd">
                                <div class="col-md-1">
                                    {% if object.is_active %}
                                        <i class="mdi mdi-checkbox-multiple-marked-outline text-success icon-selected"></i>
                                    {% else %}
                                        <i class="mdi mdi-close-box text-danger icon-selected"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <label for="user-status" class="labelText">User Status</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="email"
                                            value="{% if object.is_active %}Active{% else %}Inactive{% endif %}"
                                            class="form-control form-control-line inputText"
                                            disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row brd">
                                <div class="col-md-1">
                                    {% if object.referral_code %}
                                        <i class="mdi mdi-checkbox-multiple-marked-outline text-success icon-selected"></i>
                                    {% else %}
                                        <i class="mdi mdi-close-box text-danger icon-selected"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <label for="referral-code" class="labelText">Referral Code</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="email"
                                            value="{% if object.referral_code %}{{object.referral_code}}{% else %}--{% endif %}"
                                            class="form-control form-control-line inputText"
                                            disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row brd">
                                <div class="col-md-1">
                                    {% if object.is_referral_active %}
                                        <i class="mdi mdi-checkbox-multiple-marked-outline text-success icon-selected"></i>
                                    {% else %}
                                        <i class="mdi mdi-close-box text-danger icon-selected"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <label for="referal-code-status" class="labelText">Referral Code Status</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="email"
                                            value="{% if object.is_referral_active %}Active{% else %}Inactive{% endif %}"
                                            class="form-control form-control-line inputText"
                                            disabled>
                                </div>
                            </div>
                        </div>
                        <!-- end new cide -->
                        <div class="form-group">
                            <div class="row brd">
                                <div class="col-md-1">
                                    {% if object.is_email_verified %}
                                        <i class="mdi mdi-checkbox-multiple-marked-outline text-success icon-selected"></i>
                                    {% else %}
                                        <i class="mdi mdi-close-box text-danger icon-selected"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <label for="example-email" class="labelText">Email</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="email"
                                           value="{% if object.email %}{{ object.email }}{% else %}--{% endif %}"
                                           class="form-control form-control-line inputText"
                                           disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row brd">
                                <div class="col-md-1">
                                    {% if object.is_mobile_verified %}
                                        <i
                                                class="mdi mdi-checkbox-multiple-marked-outline text-success icon-selected"></i>
                                    {% else %}
                                        <i class="mdi mdi-close-box text-danger icon-selected"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <label class="labelText">Mobile Number</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text"
                                           value="{% if object.mobile %}{{ object.mobile }}{% else %}--{% endif %}"
                                           class="form-control form-control-line inputText"
                                           disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row brd">
                                <div class="col-md-1">
                                    {% if object.is_aadhaar_verified %}
                                        <i class="mdi mdi-checkbox-multiple-marked-outline text-success icon-selected"></i>
                                    {% else %}
                                        <i class="mdi mdi-close-box text-danger text-danger icon-selected"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <label class="labelText">Aadhaar Number</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text"
                                           value="{% if object.is_aadhaar_verified %}{{ object.aadhaar_number }}{% else %}--{% endif %}"
                                           class="form-control form-control-line inputText"
                                           disabled>
                                </div>
                                <div class="col-md-3" style="text-align: center">
                                    {% if verified_docs.2 %}
                                        <img class="docImg" onclick="imgpopup(event)"
                                             src="{{ verified_docs.2 }}"
                                             style="height:80px; width:80px;">
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row brd">
                                <div class="col-md-1">
                                    {% if object.is_pan_verified %}
                                        <i class="mdi mdi-checkbox-multiple-marked-outline text-success icon-selected"></i>
                                    {% else %}
                                        <i class="mdi mdi-close-box text-danger text-danger icon-selected"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <label class="labelText">PAN Number</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text"
                                           value="{% if object.is_pan_verified %}{{ object.pan_number }}{% else %}--{% endif %}"
                                           class="form-control form-control-line inputText"
                                           disabled>
                                </div>
                                <div class="col-md-3" style="text-align: center">
                                    {% if verified_docs.1 %}
                                        <img class="docImg" onclick="imgpopup(event)"
                                             src="{{ verified_docs.1 }}"
                                             alt="{{ object.pan_number }}"
                                             style="height:80px; width:80px;">

                                    {% endif %}
                                </div>
                                <!-- The Modal -->
                                <div id="myModal" class="imgmodal">
                                    <span class="close">&times;</span>
                                    <img class="modal-content" id="img01">
                                    <div id="caption"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row brd">
                                <div class="col-md-1">
                                    {% if object.is_gst_verified %}
                                        <i class="mdi mdi-checkbox-multiple-marked-outline text-success icon-selected"></i>
                                    {% else %}
                                        <i class="mdi mdi-close-box text-danger text-danger icon-selected"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <label class="labelText">GSTIN Number</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text"
                                           value="{% if object.is_gst_verified %}{{ object.gstin_number }}{% else %}--{% endif %}"
                                           class="form-control form-control-line inputText"
                                           disabled>
                                </div>
                                <div class="col-md-3" style="text-align: center">
                                    {% if verified_docs.3 %}
                                        <img class="docImg" onclick="imgpopup(event)"
                                             src="{{ verified_docs.3 }}"
                                             style="height:80px; width:80px;">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row brd">
                                <div class="col-md-1">
                                    {% if object.is_bank_account_verified %}
                                        <i class="mdi mdi-checkbox-multiple-marked-outline text-success icon-selected"></i>
                                    {% else %}
                                        <i class="mdi mdi-close-box text-danger text-danger icon-selected"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <label class="labelText">Bank Account Number</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text"
                                           value="{% if object.is_bank_account_verified %}{{ object.bank_account_number }}{% else %}--{% endif %}"
                                           class="form-control form-control-line inputText"
                                           disabled>
                                </div>
                                <div class="col-md-3" style="text-align: center">
                                    {% if verified_docs.5 %}
                                        <img class="docImg" onclick="imgpopup(event)"
                                             src="{{ verified_docs.5 }}"
                                             style="height:80px; width:80px;">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row brd">
                                <div class="col-md-1">
                                    {% if object.is_dl_verified %}
                                        <i class="mdi mdi-checkbox-multiple-marked-outline text-success icon-selected"></i>
                                    {% else %}
                                        <i class="mdi mdi-close-box text-danger text-danger icon-selected"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <label class="labelText">Driver's License Number</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text"
                                           value="{% if object.is_dl_verified %}{{ object.drivers_license_number }}{% else %}--{% endif %}"
                                           class="form-control form-control-line inputText"
                                           disabled>
                                </div>
                                <div class="col-md-3" style="text-align: center">
                                    {% if verified_docs.6 %}
                                        <img class="docImg" onclick="imgpopup(event)"
                                             src="{{ verified_docs.6 }}"
                                             style="height:80px; width:80px;">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row brd">
                                <div class="col-md-1">
                                    {% if object.is_education_cert_verified %}
                                        <i class="mdi mdi-checkbox-multiple-marked-outline text-success icon-selected"></i>
                                    {% else %}
                                        <i class="mdi mdi-close-box text-danger text-danger icon-selected"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <label class="labelText">Education Certificate Number</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text"
                                           value="{% if object.is_education_cert_verified %}{{ object.education_cert_number }}{% else %}--{% endif %}"
                                           class="form-control form-control-line inputText"
                                           disabled>
                                </div>
                                <div class="col-md-3" style="text-align: center">
                                    {% if verified_docs.7 %}
                                        <img class="docImg" onclick="imgpopup(event)"
                                             src="{{ verified_docs.7 }}"
                                             style="height:80px; width:80px;">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row brd">
                                <div class="col-md-1">
                                    {% if object.is_passport_verified %}
                                        <i class="mdi mdi-checkbox-multiple-marked-outline text-success icon-selected"></i>
                                    {% else %}
                                        <i class="mdi mdi-close-box text-danger text-danger icon-selected"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <label class="labelText">Passport Number</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text"
                                           value="{% if object.is_passport_verified %}{{ object.passport_number }}{% else %}--{% endif %}"
                                           class="form-control form-control-line inputText"
                                           disabled>
                                </div>
                                <div class="col-md-3" style="text-align: center">
                                    {% if verified_docs.8 %}
                                        <img class="docImg" onclick="imgpopup(event)"
                                             src="{{ verified_docs.8 }}"
                                             style="height:80px; width:80px;">
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
    <div class="row">
        {% for doc in docs %}
            <div class="col-lg-4 col-xlg-4 col-md-4">
                <div class="card">
                    <div class="card-block">
                        <center class="m-t-30">
                            {% if doc.file %}
                                <a href="{{ doc.file.url }}"><img src="{{ doc.file.url }}"
                                                                  target="_blank"
                                                                  class="img-circle"
                                                                  width="300"></a>
                            {% endif %}
                            <h4 class="card-title m-t-10">{{ doc.get_type_display }}</h4>
                            <h6 class="card-subtitle">
                                {% if doc.get_type_display == 'Photo' %}{% else %}
                                    {{ doc.name }}{% endif %}
                            </h6>
                            <form class="form-horizontal form-material"
                                  action="{% url 'doc_accept' %}"
                                  method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="doc" value="{{ doc.id }}" hidden>
                                    <button type="submit" class="btn btn-success"
                                            style="margin:20px;">Accept
                                    </button>
                                    <button type="submit" class="btn btn-danger"
                                            formaction="{% url 'doc_reject' %}"
                                            style="margin:20px;">Reject
                                    </button>
                                </div>
                            </form>
                        </center>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="modal fade" id="reporting_change_modal" tabindex="-1" role="dialog"
         aria-labelledby="reporting_change_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reporting_change_modal_label">Change
                        Reporting</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="reporting-change-form" action="#" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label style="font-weight: 600;">Start Date</label>
                            <input type="date" name="start_date"
                                   max="{{ max_date_allowed }}" class="form-control"
                                   required>
                        </div>
                        <div class="form-group">
                            <label style="font-weight: 600;">Reporting Type</label>
                            <select name="reporting_type" class="form-control" required>
                                {% for key, value in reporting_types.items %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group" style="margin-bottom: 0;">
                            <label style="font-weight: 600;">New Manager</label>
                            <input type="text" name="employee" id="emp" hidden
                                   required>
                            <input type="text" placeholder="Search by name"
                                   name="manager" id="emp_man" class="form-control"
                                   required autocomplete="off">
                            <input type="text" name="manager_id" id="emp_man_id"
                                   hidden required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="reporting-change-form"
                            class="btn btn-primary">Change
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- change user status( Activate or Deactivate ) -->
    <div class="modal fade" id="change_user_status" tabindex="-1" role="dialog"
        aria-labelledby="change_user_status_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    {% if object.is_active %}
                        <h5 class="modal-title" id="change_user_status_label">Confirmation: Press Ok to Deactivate the user</h5>
                    {% else %}
                        <h5 class="modal-title" id="change_user_status_label">Confirmation: Press Ok to Activate the user</h5>
                    {% endif %}
                </div>
                <div class="modal-body">
                    <form id="confirmation-form" action="{% url 'change_user_status' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" name="user" class="form-control" value="{{object.id}}" hidden required>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="confirmation-form">
                        OK
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="set_referral_modal" tabindex="-1" role="dialog"
        aria-labelledby="set_referral_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="set_referral_modal_label">Set Referral Code</h5>
                </div>
                <div class="modal-body">
                    <form id="referral-form" action="{% url 'set_referral' %}" method="POST">
                        {% csrf_token %}
                        <label style="font-weight: 600;">Referral Code:</label>
                        <input type="text" name="user" class="form-control" value="{{object.id}}" hidden required>
                        <input style="margin-bottom: 12px;" type="text" value="{% if object.referral_code %}{{object.referral_code}}{%endif%}" pattern="^[A-Za-z0-9]+$" title="Special characters not allowed." name="code" id="code" class="form-control" required>
                        <input type="checkbox" id="user_type_checkbox" {% if object.user_type == 6 %}checked{%else%}{%endif%} name="user_type" class="form-control">
                        <label for="user_type_checkbox"> Corporate Business Partner </label>
                        <input type="checkbox" id="deactivate_referal_code_checkbox" {% if not object.is_referral_active%}checked{%else%}{%endif%} name="is_referral_active" class="form-control">
                        <label for="deactivate_referal_code_checkbox"> Deactivate Referal Code </label>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="referral-form">
                        Set
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    {% if current_reportees %}
        <div class="row">
            <!-- column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">List of all the reportings
                            to {{ object.first_name }}</h4>
                        <h6 class="card-subtitle"></h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Reportee</th>
                                    <th>Reporting Start Date</th>
                                    <th>Reporting End Date</th>
                                    <th>Reporting Type</th>
{#                                    {% if object.id == user.id %}#}
{#                                        <th>Change Reporting</th>#}
{#                                    {% endif %}#}
                                </tr>
                                </thead>
                                <tbody>
                                {% for reporting in current_reportees %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ reporting.reportee.get_full_name }}
                                            - {{ reporting.reportee.unique_code }}</td>
                                        <td>
                                            {% if reporting.start_date %}
                                                {{ reporting.start_date }}{% else %}--{% endif %}
                                        </td>
                                        <td>
                                            {% if reporting.end_date %}
                                                {{ reporting.end_date }}{% else %}--{% endif %}
                                        </td>
                                        <td>{% if reporting.reporting_type %}
                                            {{ reporting.get_reporting_type_display }}{% else %}
                                            --{% endif %}
                                        </td>
{#                                        {% if object.id == user.id %}#}
{#                                            <td>#}
{#                                                {% if not reporting.end_date %}#}
{#                                                    <button type="button" class="btn btn-primary"#}
{#                                                            data-toggle="modal"#}
{#                                                            data-target="#reporting_change_modal"#}
{#                                                            data-emp_id="{{ reporting.reportee.id }}"#}
{#                                                            data-emp_name="{{ reporting.reportee.first_name }}"#}
{#                                                            data-min_date="{{ min_date_allowed }}"#}
{#                                                            data-min="{{ reporting.start_date|add_one_day|date:'Y-m-d' }}">#}
{#                                                        Change#}
{#                                                    </button>#}
{#                                                {% endif %}#}
{#                                            </td>#}
{#                                        {% endif %}#}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-2 col-xlg-2 col-md-2">
            <div class="card">
                <button type="button" class="btn btn-primary"
                        data-toggle="modal" data-target="#reporting_change_modal"
                        data-emp_id="{{ object.id }}"
                        data-emp_name="{{ object.first_name }}"
                        data-min_date="{{ min_date_allowed }}"
                        data-min="{{ min_date_allowed }}">
                    Assign Reporting Manager
                </button>
            </div>
        </div>
    </div>
    {% if reporting_history %}
        <div class="row">
            <!-- column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">List of all the managers {{ object.first_name }} has
                            had</h4>
                        <h6 class="card-subtitle"></h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Manager</th>
                                    <th>Reporting Start Date</th>
                                    <th>Reporting End Date</th>
                                    <th>Reporting Type</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for reporting in reporting_history %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ reporting.manager.get_full_name }}
                                            - {{ reporting.manager.unique_code }}</td>
                                        <td>{% if reporting.start_date %}
                                            {{ reporting.start_date }}{% else %}--{% endif %}</td>
                                        <td>{% if reporting.end_date %}
                                            {{ reporting.end_date }}{% else %}--{% endif %}</td>
                                        <td>{% if reporting.reporting_type %}
                                            {{ reporting.get_reporting_type_display }}{% else %}
                                            --{% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block js %}
    <script>
        $('#reporting_change_modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var emp_id = button.data('emp_id');
            var emp_name = button.data('emp_name');
            var min = new Date(button.data('min'));
            var min_date = new Date(button.data('min_date'));
            var min_date_allowed = new Date(Math.max.apply(null, [min, min_date]));
            var month_e = ("0" + (min_date_allowed.getMonth() + 1)).slice(-2);
            var day_e = ("0" + min_date_allowed.getDate()).slice(-2);
            var year_e = min_date_allowed.getFullYear();
            var formatted_date = year_e + "-" + month_e + '-' + day_e;
            var modal = $(this);
            modal.find('.modal-title').text('Change reporting of ' + emp_name);
            modal.find('.modal-body form').attr('action', '{% url "change_reporting" %}');
            modal.find('.modal-body input[name="start_date"]').attr('min', formatted_date);
            modal.find('.modal-body input[name="start_date"]').val(formatted_date);
            modal.find('.modal-body input[name="manager"]').val('');
            $('#emp').val(emp_id)
        })
    </script>
    <script>
        $('#emp_man').autocomplete({
            minChars: 3,
            showNoSuggestionNotice: true,
            ajaxSettings: {
                headers: {
                    'api-key': '{% read_setting "CURRENT_ENV_API_KEY" %}',
                    'secret-key': '{% read_setting "CURRENT_ENV_SECRET_KEY" %}'
                },
            },
            serviceUrl: '/api/v1/employee_search/',
            onSelect: function (suggestion) {
                $('#emp_man_id').val(suggestion.data);
            },
            appendTo: $('#reporting-change-form')
        });
        $('.autocomplete-suggestions').attr('class', 'form-control')
    </script>
    <script>
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementsByClassName('docImg');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");

        function imgpopup(event) {
            modal.style.display = "block";
            modalImg.src = event.target.currentSrc;
            captionText.innerHTML = event.target.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>
{% endblock %}