{% extends "accounts/base.html" %} {% load static from staticfiles %}
{% block search %}
<li class="nav-item hidden-sm-down search-box"> <a
    class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i
      class="ti-search"></i></a>
  <form class="app-search" method="GET" action="{% url 'users' %}">
    <input id="search_input" type="text" name="search" class="form-control"
      placeholder="Search & enter">
    <a class="srh-btn"><i class="ti-close"></i></a>
  </form>
</li>
{% endblock %}

{% block page_title %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor m-b-0 m-t-0">Users</h3>
  </div>
  <div class="col-md-7 col-4 align-self-center"> </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
{% endblock %}

{% block page_content %}
<div class="row">
  <!-- column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">List of all the users</h4>
        <h6 class="card-subtitle"></h6>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Username</th>
                <th>POS Code</th>
                <th>First Name</th>
                <th>Last Name</th>
              </tr>
            </thead>
            <tbody>
              {% for user in object_list %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'user_profile' user.id %}">{{user.unique_code}}</a></td>
                <td>{% if user.pos_code %}{{user.pos_code}}{% endif %}</td>
                <td>{% if user.first_name %}{{user.first_name}}{% endif %}</td>
                <td>{% if user.last_name %}{{user.last_name}}{% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% if is_paginated %}
      <div class="card-block">
        <div class="pagination" style="float: right; margin-right: 100px; margin-bottom: 40px; ">
          <span class="page-links">
            {% if page_obj.has_previous %}
            <a class="btn btn-success" style="color: #ffffff"
              href="{%if '?' in request.get_full_path%}{{request.get_full_path}}&{%else%}?{%endif%}page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <button class="btn">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </button>
            {% if page_obj.has_next %}
            <a class="btn btn-success" style="color: #ffffff"
              href="{%if '?' in request.get_full_path%}{{request.get_full_path}}&{%else%}?{%endif%}page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
          </span>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}