{% extends "base.html" %}
{% load static from staticfiles %}
{%load commontags%}
{% load staticfiles %}
<head>
	<title>Sign in</title>
</head>
{% block content %}
	<style type="text/css" media="screen">
		* { outline: none !important; }
		input:-webkit-autofill {
	    	background-color: white !important;
		}
		.loginForm {width: 500px;margin: 50px auto;height: auto;min-height: 500px;padding: 25px 40px 25px;border-radius: 8px;-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
		    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
		    -webkit-transition:1s;
		}
		.forgetPassword{color: #1669b2;text-decoration: underline; cursor: pointer;text-align: right;font-weight: 600;}
		.form-group button{color: #fff;background: linear-gradient(#fc8200,#ffa11a);border-radius: 25px;border-radius: 25px;width: 155px;margin-top: 0!important;font-size: 20px;border: none !important;
		}
		.focused label { position: absolute !important;top: -5px !important; left: 0 !important; font-size: 11px !important;
		}
		.form-group{  margin: 10px 0;padding: 0;border: 0;position: relative;
	  	}
	  	.form-group input {display: block;width: 100%;height: 3em;padding: 16px 8px;border: 0;
		  	border-radius: 0;font-size: 16px;font-weight: 400;line-height: 1;background: none !important;color: #212121;outline: 0;appearance: none;transition: all 0.2s ease-in-out;border-bottom: 2px solid #ccc;
	  	}
	  	.form-group  label { position: absolute; top: 15px;left: 8px; color: #909090; transform: translate3d(0, 0, 0);transition: all 0.2s ease-in-out;
	  	}
	</style>
	<body>
		<div class="loginForm" style="display: none">
			<div class="mainLogo" style="text-align: center;"><img style="max-width: 180px;" src=""></div>
			<div class="signInWrapper">
				<div class="loginHeader" style="text-align: center;">
					<h3>Sign in</h1>
					<p>Continue to RenewBuy</p>
				</div>
				<form>
					<div class="form-group">
						<label for="email">Email address</label>
						<input type="email" class="email" id="email" autocomplete="off">
					</div>
					<div class="error"></div>
					<div class="form-group">
						<label for="pwd">Password</label>
						<input type="password" id="password" id="pwd" autocomplete="off">
					</div>
					<div class="error"></div>
					<div id="error_text"></div>
					<div class="form-group" style="text-align: right;">
						<span class="forgetPassword" onclick="resetNewPassword()" style="font-weight: 600"> Forgot password?</span>
					</div>
					<div class="form-group" style="text-align: center; margin-top: 28px;">
						<button type="button" class="btn btn-default" id="submitbutton" onclick="accountlogin()">Sign in</button>
					</div>			
				</form>
			</div>

			<div class="forgotWrap" id="forgotWrapper" style="display: none;">
				<form>
					<h5 style="text-align: center; margin-top: 30px;">Forgot your password?</h5>
					<p style="font-size: 13px;">Enter your email address below, and we'll email instructions for setting a new one.</p>
					<div class="form-group">
						<label for="email">Email address</label>
						<input type="email" class="email" id="passwordemail" autocomplete="off">
					</div>
					<div class="error"></div>
					<div class="forgetPassword" onclick="backToLogin()">Back to login </div>
					<div class="form-group" style="text-align: center; margin-top: 28px;">
						<button type="button" class="btn btn-default" id="passwordsubmit" onclick="forgotpassward()">Submit</button>
					</div>		
				</form>
			</div>
			<div class="sucessMsg" style="display: none;">
				<h4>Check your inbox.</h4>
				<p>We've emailed you instructions for setting your password. If you are registered, You should receive the email shortly!</p>
				<div class="forgetPassword" onclick="backToLogin()">Back to login </div>
			</div>	
		</div>
		<div class="loader" style="display: none">
		    <div class="fetching_profile"><i class="fa fa-spinner fa-spin"></i> <span id="load_text">Fetching Profile</span></div>
		</div>
	</body>
	<script type="text/javascript" src="{% static 'js/account.js' %}"></script>
	<script type="text/javascript">
		var requestMethod = '{{request.META.REQUEST_METHOD}}'
		var travLogo = "{% static 'images/travlogo.png' %}"
		var renewbuyLogo = "{% static 'images/renewbuy_logo.png' %}"
		const CURRENT_ENV_API_KEY  = "{% read_setting 'CURRENT_ENV_API_KEY' %}"
    	const CURRENT_ENV_SECRET_KEY  = "{% read_setting 'CURRENT_ENV_SECRET_KEY' %}"
    	const DOMAIN  = "{% read_setting 'DOMAIN' %}";
    	// authorized domains list
    	var authorizedDomains = [];
		{% for domain in allowed_domains %}
			var domain = "{{ domain }}"
			domain = domain.replace(/[^a-zA-Z/./ ]/g,'');
			authorizedDomains.push(domain);
		{% endfor %}
		
		function redirectUrl(){
			var windowUrl = window.location.href;
			var url = window.location.href.slice(window.location.href.indexOf('?') + 6).split('&');
			window.location.href = url;
		}

		$(document).on("click", "#alertBox button,body", function(){
			$('.loginForm').show();
			$('#alertBox,.modal-backdrop ').hide();
		})
		
		// post method call
		if(requestMethod == "POST"){
			{% if login_response.token %}
				localStorage.setItem('items', JSON.stringify({{login_response_json|safe}}));
				redirectUrl();
				$('.loader').show()
			{% else %}
				var errorMsg = "{{login_response.detail.error.0}}"
				if(errorMsg != ''){
					showAlertBox("{{login_response.detail.error.0}}" , "red");
				} else{
					redirectUrl();
				}
			{% endif %}
		} else{
			$('.loginForm').show();
			initialLoading();
		}
	</script>

	<script type="text/javascript" src="{% static 'js/loginWidget.js' %}"></script>
</html>
{% endblock %}