<!DOCTYPE html>
<html>
<head>
    <title>Attach agreement to certficate</title>
    <style type="text/css">
        .textbold { font-weight: 600; }
        h3{text-align: center;}
        .ceo_name{margin-bottom: 20px;}
    </style>
</head>
<body>
   <div class="main-container">
     <div class="container">
         <div class="pos-heading1">
            <h3 style="text-align: center">Service Agreement with POSP</h3>
          </div>
        <div class="commonBox clearfix">
         <p>This Agreement (hereinafter referred to as 'the Agreement', which term shall include the annexures, attachments, addendums and schedules described therein/ appended / attached thereto) is made on this date <span class="dateStart textbold">{{agreement_data.exam_pass_date| date:"d M Y" }}</span>  between <span class="partnerName textbold" > {{agreement_data.partner_name}} </span> vis-à-vis-D2C Insurance Broking Pvt. Ltd.. POS and Company may also be referred to individually as a "Party" and together as the "Parties".</p>
         <h3>Between</h3>
         <p><span class="textbold">D2C Insurance Broking Pvt. Ltd.</span>, a company incorporated under the provisions of Companies Act, 2013 and having its Registered office at 2nd Floor, C-67, DDA Shed, Okhla Phase-1, Delhi, 110020 (hereinafter referred to as "the Company", which expression shall, unless it be repugnant to the context or meaning thereof, be deemed to mean and include its legal representatives, assigns, administrators, representative-in-interest and executors) of the First Part;</p>
         <h3>And</h3>
         <p><span class="textbold partnerName">Shri/Smt {{ agreement_data.partner_name }}  </span> Point of Sales Person,
             {% if agreement_data.type == 6 %}
             (General Insurance)
             {% elif agreement_data.type == 9 %}
             (Life Insurance)
             {% endif %}
             having its place of residence and/or work at <span class="textbold place_partner"> {{agreement_data.city}} </span> which expression shall, unless repugnant or contrary to the context, include its representatives in interest and permitted assigns) of the Other Part. </p>

         <p>Whereas, Company is a Direct Broker registered by IRDAI vide <span class="textbold">Registration No 505</span> Valid w.e.f. <span class="textbold">27/11/2017 to 26/11/2020</span> and renewable thereafter from to time.</p>

             {% if agreement_data.type == 6 %}
             <p>Whereas, Company wishes to contract with POS to solicit the Insurance products, as may be specified by IRDAI from time to time, on the terms and conditions provided for herein.</p>
                
             <p>Whereas, POS desires to enter into an Agreement with Company for the solicitation of such Insurance product/products.</p>
             {% endif %}
         <p>Whereas, The Company appoints the POS for the purpose of selling and servicing of Insurance policies on behalf of the Company, The Company reserves the right to approve or disapprove the contracting of any such POS. The Company and the POS expressly agree that the POS is not an employee of the Company and shall be considered an independent contractor for the purposes of this agreement. The POS  shall not be reimbursed of any expenses incurred under this agreement and shall supply his or her own work place ,  use his or her own supplies   and set his or her own work hours, all at no cost to the Company.</p>

         <p>AND WHEREAS - The POS person shall be atleast 10th pass or attain any other qualification IRDAI may prescribe from time to time. Should have underwent applicable mandatory training and successfully completed exam as applicable under the IRDAI guidelines on Point of Sales Person - Life, Non-Life & Health Insurers/ IRDAI guidelines on Point of Sales Person -Life. </p>

         <h4 style="font-size: 16px; font-weight: 600;">NOW THIS AGREEMENT WITNESSETH AND IT IS HEREBY AGREED BY AND BETWEEN THE PARTIES HERETO AS FOLLOWS: </h4>

         <ol type="1">
            <li>
            <h4 style="font-size: 16px; font-weight: 600;">DEFINITIONS </h4>
            <p class="textbold">It is expressly understood by and between the parties hereto that the terms mentioned in this Agreement shall have the same meaning as ascribed to it under the Regulations.</p>

            <ol type="a">
                <li>"Act" means the Insurance Act, 1938 (4 of 1938).</li>
                <li>"Authority" or "IRDAI" means the Insurance Regulatory and Development Authority established under the provisions of Section 3 of the Insurance Regulatory and Development Authority Act, 1999 (41 of 1999).</li>
                <li>"Insurance Broker" - as defined in Regulation 2(1)(k) of Insurance Regulatory and Development Authority (Insurance Company) Regulations, 2013.</li>
                <li>"Insurer" - means -, as defined in Section 2 (9) of Insurance Act, 1938.</li>
                <li>"Website" - shall mean Renewbuy.com and the RB Partners Mobile App, which is owned and maintained by the Insurance Broker.</li>
                <li>All words and expressions used and not defined in these Guidelines but defined in the Insurance Act, 1938 (4 of 1938), the Insurance Regulatory and Development Authority Act, 1999 (41 of 199), or in any of the Regulations / Guidelines made thereunder including but not limited to the IRDAI Guidelines on Point of Sales Person - Non-Life & Health Insurers, Guidelines on Point of Sales Person -Life Insurers, Insurance Regulatory and Development Authority (Insurance Broker) Regulations, 2013 shall have the meanings respectively assigned to them in those Acts or Regulations / Guidelines including their respective amendments thereof.</li>
 
            </ol>
                    <h5 style="margin-bottom: 0; font-weight: 600;">Interpretation:</h5>
                    <p>
                    All definitions mentioned in the IRDAI Guidelines and regulations for Insurance Brokers and POSP shall apply mutatis mutandis to the terms of this Agreement. </p>

            <div class="textbold">In this Agreement, headings are for convenience only and do not affect the interpretation of this Agreement, and, unless the context otherwise requires:</div>
            <ol type="a">
                <li>words in the singular include the plural and vice versa;</li>
                <li>words importing a gender include any gender;</li>
                <li>a reference to a Clause is to a clause of this Agreement;</li>
                <li>all words and expressions used and not defined in this Agreement but defined in the Insurance Act 1938, the Insurance Regulatory and Development Authority Act, 1999 or any of the Regulations made thereunder shall have the meanings respectively assigned to them in those Acts or Regulations.</li>
            </ol>   
            </li>
            <li>
                <h4 style="font-size: 16px; font-weight: 600;">SCOPE OF SERVICES AND COMPENSATION:</h4>
                <p>The Parties agree that POSP shall perform the activities as allowed and envisaged under the IRDAI prescribed guidelines from time to time..</p>
                <p>The Company agrees to make payment and/or remuneration to the POSP fees for the services and discharge of his functions obligations to be rendered by the POSP as specified in Annexure B attached hereto. </p>
            </li>
            <li>
                <h4 style="font-size: 16px; font-weight: 600;">TERM AND TERMINATION:</h4>
                <ol type="a">
                    <li>This Agreement shall become effective from the Effective Date, <!--{{agreement_data.exam_pass_date}}--> subject to clause 3c given below, (Date of Clearing the Exam) and shall remain in force and effect till the time Company has in-force licence from the IRDAI and its subsequent renewal from time to time.</li>
                    <li>Notwithstanding anything contained in this Agreement to the contrary or notwithstanding any separate written communication, either Party may terminate this Agreement at any time by providing one (1) month's prior notice in writing to the other Party during the validity of the Agreement.</li>
                    <li>
                        <p>This Agreement will terminate automatically upon the occurrence of any of the following events by POS, and upon such occurrence the parties shall be obligated to make only those payments the right to which accrued to the date of termination:</p>
                        <ol style="list-style-type: disc;">
                            <li>Conviction of a felony by POS;</li>
                            <li>Misappropriation (or failure to remit) any funds or property due the Company from POS;</li>
                            <li>Determination that POS is not in compliance with Company underwriting guidelines or the terms of this Agreement and POS has failed to correct the problem within 10 days of the Company providing written notice of same;</li>
                            <li>In the event of fraud or material breach of any of the conditions or provisions of this Agreement on the part of either party, the other party may terminate the Agreement immediately upon written notice.</li>
                            <li>Fails to comply with directions of <span class="textbold"> D2C Insurance Broking Pvt. Ltd</span></li>
                            <li>Furnish wrong information or conceals the information or fails to disclose the material facts of the policy to the policy holder.</li>
                            <li>Fails to resolve complaints, unless the circumstances are beyond his control, emanating from the business procured by him and persons he deals with</li>
                            <li>Indulges in inducement in cash or kind with client or any other insurance intermediary/agent/insurer.</li>
                            <li>Fails to pay any penalty levied on his account.</li>
                            <li>Fails to carry out his obligations as prescribed in the agreement and in the provisions of: Act/regulations/circulars or guidelines by IRDAI from time to time.</li>
                            <li>Acts in a manner prejudice to the interest of the company or the client</li>
                            <li>Acts in a manner that amounts to diverting funds of his Group/Affiliates or associates rather than engaging in the activity of soliciting and servicing insurance business</li>
                            <li>Is found guilty of fraud or is charged or convicted in any criminal act.</li>
                            <li>Agreement shall automatically terminate if the POSP acquires a license as or becomes related to, an insurance company, insurance agent, corporate agent, a micro-insurance agent, TPA, Surveyor, Referral partner or loss assessor. In addition to the aforementioned. That on a contravention of this condition by the POSP, he shall be liable to indemnity by the company as per claim made on him</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                <h4 style="font-size: 16px; font-weight: 600;">REPRESENTATIONS AND WARRANTIES:</h4>
                <ol type="a">
                    <li><p>POSP represents and warrants to the Company that:</p>
                       <ol style="list-style-type: upper-roman;">
                            <li>He has the necessary qualification power or authority and the legal right to conduct the business/provide unprejudiced services to the company in respect of all or any of the functions.</li>
                            <li>POS represents and warrants that he/she has never   been convicted of any crime involving moral turpitude and is not disqualified as per section 42D(5) of the Insurance Act and remains Fit and Proper as per the format enclosed herewith as Annexure -2;</li>
                            <li>He has the necessary power or authority and the legal right to execute, deliver and perform this Agreement;</li>
                            <li>He shall comply with all applicable regulatory and other legal requirements to   this Agreement .</li>
                            <li>POS will diligently and to the best of its ability ensure that the facts set forth by any applicant/prospect in any application it solicits are true and correct.</li>
                       </ol>
                    </li>
                    <li>
                        <h4 style="font-size: 16px; font-weight: 600;">The Company  hereby represents and warrants to - that:</h4>
                        <ol style="list-style-type: upper-roman;">
                            <li>It has obtained all the necessary approvals, permits and authorizations internally or otherwise, as may be required to engage in the business as envisaged under and to enter into this Agreement;</li>
                            <li>It has fulfilled all the criteria provided under the applicable Regulations but not limited to the IRDAI Guidelines on Point of Sales Person for: Life Insurers, Non-Life & Health Insurers, Guidelines on Point of Sales Person -Life Insurers, Insurance Regulatory and Development Authority (Insurance Broker) Regulations, 2013 to act as POSP</li>
                            <li>It shall comply with all applicable regulatory and other legal requirements to this Agreement .</li>

                        </ol>
                    </li>
                    <li>
                        <h4 style="font-size: 16px; font-weight: 600;">OBLIGATIONS OF POSP :</h4>
                        <p>The POSP hereby agrees, covenants and undertakes with - as follows:</p>
                        <ol style="list-style-type: upper-roman;">
                            <li>POS will comply with all laws and regulations which relate to this Agreement and shall indemnify and hold the Company harmless for its failure to do so. POS shall maintain in good standing, at its own cost, licenses required by all applicable statutes and regulations.</li>
                            <li>POS may not solicit any business except: mentioned in Schedule  "A" (Please add all those policies/products Authorized by IRDAI from time to time.)</li>
                            <li>POS will comply with the Company's rules and regulations relating to the Soliciting the insurance business. As a material part of the consideration for the making of this
Agreement by the Company, POS agrees that there will be made no representations
whatsoever with respect to the nature or scope of the benefits of the Policies sold except through and by means of the written material either prepared and furnished to POS for that purpose by the Company or approved in writing by the Company prior to its use. POS shall have no authority and will not make any oral or written alteration, modification, or waiver of any of the terms or conditions of any Policy whatsoever.
</li>
                            <li>POS will conduct itself so as not to affect adversely the business, good standing, and reputation of the Company.</li>
                            <li>POS agrees not to employ or make use of any advertisement in which the Company's (or its affiliate's) name or its registered trademarks are employed without the prior written approval and consent of the Company. Upon request of POS during the term of this Agreement, the Company shall make available for POS's use, standard visiting cards, and other material. POS may add, at POS's expense, to the standard advertising only its business name, business address, POS number and telephone number, as provided for in the advertising. No deletions or changes in the advertising copy are permissible.</li>
                            <li>POS shall act solely as an independent contractor, of-course subject to the control and guidance of the company, and as such, shall have control on: all matters, its time and effort in the placement of the Policies offered hereunder. Nothing herein contained shall be construed to create the relationship of employer and employee between POS and Company.</li>
                            <li>POS shall indemnify and hold the Company and its officers, POSs and employees harmless from all expenses, costs, causes of action, claims, demands, liabilities and damages, including reasonable attorney's fees, resulting from or growing out of any unauthorized act or transaction or any negligent act, omission or transaction by POS or employees of POS.</li>
                            <li><span style="text-decoration:underline">Change of Address</span>. POS shall notify Company in writing of any change of address and/or communication at least thirty (30) days prior to the effective date of such change.</li>
                            <li><span style="text-decoration:underline">Collection of Premiums</span>. POS shall have no authority, without written permission of Company, to collect or provide receipt for premiums to customer and shall assist the client for compliance of section 64VB of the Insurance Act 1938. </li>
                            <li><span style="text-decoration:underline">Other Expenses</span>. POS shall have no claim or shall not be entitled to reimbursement for any expenses.</li>
                            <li>POS shall, on behalf of the Company, collect premiums as per IRDAI norms. All premiums collected on business produced by the POS hereunder shall be submitted to the Company within same day of receipt by POS.</li>
                            <li>To faithfully perform all duties required hereunder, to cooperate with the Company in all matters pertaining to the issuance of policies, cancellations, claims   and to promote the best interest of the Company.</li>
                            <li>POS will be bound not to work for any other intermediaries or the Insurance companies. Whatever work he does in the insurance space, POS is bound to do through Company only.</li>
                            <li>POS will ensure the compliance of FIU and obtains KYC </li>
                            <li>POS shall not do any claim consultancy and any such opportunity that comes in this area. He shall be further obliged to bring to the notice of the company for its further doing the needful in a professional manner.</li>
                            <li>Any financial penalty levied by the IRDAI, if it is based on the violations and noncompliance by the POS shall be borne by him. Similarly if suspension, cancellation or withdrawal of license of the company is based on breaches/noncompliance on the account of POS, the POS shall indemnify the consequential losses to the company.</li>
                            <li>Any financial penalty levied by the IRDAI, if it is based on the violations and noncompliance by the POS shall be borne by him. Similarly if suspension, cancellation or withdrawal of license of the company is based on breaches/noncompliance on the account of POS, the POS shall indemnify the consequential losses to the company.</li>
                            <li>
                            The POS shall be duty bound to cooperate with the officers of IRDAI for the purpose of inspection as may be required by IRDAI inspectors or investigating authority from time to time.
                               <ol style="list-style-type: disc;">
                                 <li>He shall will carry on its business pertaining to POSP products lawfully and diligently , and in compliance with all applicable laws, rules and regulations including but not limited to the IRDAI Guidelines on Point of Sales Person - Non-Life & Health Insurers, Guidelines on Point of Sales Person -Life Insurers,</li>
                                 <li>It shall comply with all the provisions of the Insurance Act 1938, IRDA Act, 1999 and rules and regulations framed thereunder and such other directions issued and/or amended by the Authority from time to time.</li>
                               </ol>
                            </li>
                            
                        </ol>
                    </li>
                </ol>
            </li>

            <!-- 6 -->
            <li>
                <h4 style="font-size: 16px; font-weight: 600;">OBLIGATIONS OF Company</h4>
                <ol style="list-style-type: upper-roman;">
                    <li>- shall maintain records of all information obtained through the POSP, the details of the policies sold out of such information thus obtained and other functions/activities performed by POSP as a part of his engagement/appointment with the company. shall furnish such records or information as required by IRDAI in relation to this agreement as and when required.</li>
                    <li>Shall vary depending upon the specific product being sold by POS. For all products, the Company will provide brochures and proposal forms. The Company will deliver to the customer all insurance policies and related correspondence or similar documents, in accordance with Company procedures. </li>
                    <li>shall respond in a reasonable and timely manner to inquiries and questions about the product. </li>
                    <li>shall maintain reasonable accounting, administrative, and statistical records in accordance with prudent standards of insurance record keeping, including premium, sale or effective date, and any other records needed to verify coverage, pay claims, or underwrite the company insurance products, of any insured participant covered under the policies. </li>
                </ol>
            </li>
                    <!-- 7 -->
                    
            <li>
                    <h4 style="font-size: 16px; font-weight: 600;">RESERVATION OF RIGHTS</h4>
                    <ol style="list-style-type: upper-roman;">
                        <li>The Company reserves the right to reject any and all applications for its Policies submitted by POS if they are not found to be of the order of merit required by the customer or the company or the Insurance Company.</li>
                        <li>The Company reserves the right to discontinue writing or offering any of the Policies which become subject to this Agreement upon sixty (60) days notice to POS (or the number of days required by law in the POS's state of domicile).</li>
                        <li>The Company shall share with the POSP information relating to the products as agreed with its insurance partner and as agreed between the parties from time to time. </li>
                    </ol>       
            </li>
        <!-- 8 -->
         <!-- 9 -->
         <li>
            <h4 style="font-size: 16px; font-weight: 600;">PRIVACY POLICY </h4>
            <p>POSP confirms and undertakes the he will not violate privacy covenants and in case of any breach of privacy the POSP shall be solely responsible for losses arising out of the same.</p>
            <p>POSP shall ensure that there are proper encryption and security measures to prevent any hacking into the information/data pertaining to transactions contemplated under this Agreement. POSP shall adhere to the appropriate security norms including but not limited to the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011 as amended from time to time.  </p>
            <p>POSP shall not share any information of the clients and the Company with others without permission of the client and the company.</p>
         </li>
         <!-- 10 -->
         <li>
            <h4 style="font-size: 16px; font-weight: 600;">INTELLECTUAL PROPERTY RIGHTS AND BRANDING:</h4>
            <p>The intellectual property rights (in the nature of trademark or copyright or any other right) in the brand name, product names, logos, designs, colour schemes, names, marks, designs, drawings, colour, artistic work / manner etc (hereafter collectively referred as "Marks") as may be allowed by - to be used by Company shall vest exclusively and at all times in - and POSP agrees and undertakes not to set up an adverse claim at any time either during the currency of this Agreement or at any time thereafter. The POSP also agrees and undertakes that it shall not allow the usage of Marks by any other third party.</p>
         </li>
         <!-- 11 -->
         <li>
                <h4 style="font-size: 16px; font-weight: 600;">CONFIDENTIALITY:</h4>
                <ol style="list-style-type: upper-roman;">
                <li>Both parties recognize, accept and agree that all tangible and intangible information  obtained or disclosed to each other and/or its personnel/representatives, including all details, documents, data, records, reports, systems, papers, notices, statements, business information and practices and trade secrets (all of which are collectively referred to as "Confidential Information") shall be treated as confidential and both Parties agree and undertake that  the same will be kept secret and will not be disclosed, save as provided below, in whole or in part to any person/s and/or used and/or be allowed to be used for any purpose other than as may be necessary for the due performance of obligations hereunder, except with written authorization from other party.</li>
                  <li>POSP agrees and undertakes that he shall hold all Confidential Information in confidence and in particular shall :  
                   <ol style="list-style-type: disc;">
                    <li>not use or permit or enable any person to use any of the Confidential Information in any manner.</li>
                    <li>not disclose or divulge any Confidential Information to any person return all and any Confidential Information which may be in his possession/custody within three years of termination/ expiry of this Agreement.</li>
                   </ol>
                  </li> 
                  <li>The obligation of confidentiality as above shall not apply to any information which is: 
                      <ol style="list-style-type: disc;">
                        <li>in the public domain through no fault of the receiving party, </li>
                        <li>rightfully received from a third party without any obligation of confidentiality, </li>
                        <li>rightfully known to the receiving party without any limitation on use or disclosure prior to its receipt from the disclosing party, </li>
                        <li>independently developed by the receiving party, </li>
                        <li>generally made available to third parties without any restriction on disclosure, </li>
                        <li>communicated in response to a valid order by a court or other governmental body, as otherwise required by law, or as necessary to establish the rights of either party under this Agreement, or.</li>
                     </ol>
                  </li>
                  <li>Obligations under this clause to the extent provided shall continue to apply even after the termination or expiry of this Agreement.  In case of any breach of this provision by either party, POSP undertakes to indemnify for losses caused due to such breach.</li>
                </ol>
         </li>
         <!-- 12 -->
         <li>
            <h4 style="font-size: 16px; font-weight: 600;">INDEMNITY:</h4>
            POSP agrees to indemnify and keep indemnified and hold harmless at all times -/its directors and officers from and against any and all losses, claims, actions, proceedings, damages (including reasonable legal and lawyer’s fees) which may be incurred by - on account of (a) negligence or misconduct on the part of the POSP (b) due to breach any terms and conditions of this Agreement (c) for breach of any intellectual property rights of -, or of any third party which commences an action or makes a claim against - and such breach is attributable to the acts of omission / commission by Insurance Company (d) any loss caused to - due to breach of Confidentiality.
         </li>
          <!-- 13 -->
          <li>
            <h4 style="font-size: 16px; font-weight: 600;">LAW AND ARBITRATION:</h4>
             <ol style="a">
                <li>The provisions of this Agreement shall be governed by, and construed in accordance with Indian law.</li>
                <li>
                <p>Any dispute, controversy or claims arising out of or relating to this Agreement or the breach, termination or invalidity thereof, shall be settled by arbitration in accordance with the provisions of the Arbitration and Conciliation Act, 1996. Following provisions shall be adhered to for any such arbitral proceedings:</p>
                     <ol style="list-style-type: upper-roman;">
                        <li>
                                The arbitral tribunal shall be composed of a sole arbitrator mutually appointed by the Parties. In the event of non-agreement each of the parties shall individually appoint an arbitrator and there two arbitrators shall thereafter jointly appoint a third arbitrator which three arbitrators shall jointly conduct arbitration proceedings.
                        </li>
                        <li>
                            The place of arbitration shall be Delhi and any award whether interim or final, shall be made, and shall be deemed for all purposes between the Parties to be made, in Delhi.
                        </li>
                        <li>
                             The arbitral procedure shall be conducted in the English language and any award or awards shall be rendered in English. The procedural law of the arbitration  shall be Indian law.

                        </li>
                        <li>The award of the arbitrator shall be final and conclusive and binding upon the 
       Parties, and the Parties shall be entitled (but not obliged) to enter judgement thereon in any one or more of the courts having jurisdiction. The Parties further agree (to the maximum extent possible and allowed to them) that such enforcement shall be subject to the provisions of the Arbitration and Conciliation Act, 1996.</li>
                        <li>(iv)    The rights and obligations of the Parties under, or pursuant to, this Clause, including   the arbitration Agreement in this Clause, shall be governed by and be subject to Indian law.</li>
                    </ol>
                </li>

             </ol>
          </li>
           <!-- 14 -->
           <li>
             <h4  style="font-size: 16px; font-weight: 600;">MISCELLANEOUS</h4>
              <ol style="a">
                <li>
                    <p style="text-decoration: underline;">Amendments; No Waivers</p>
                    <ol list-style-type: upper-roman;>
                        <li>Any provision of this AGREEMENT may be amended or waived if, and only if such amendment or waiver is in writing and signed, in the case of an amendment by each Party or in the case of a waiver, by the Party against whom the waiver is to be effective.</li>
                        <li>No failure or delay by any Party in exercising any right, power or privilege hereunder shall operate as a waiver thereof nor shall any single or partial exercise of any other right, power or privilege. The rights and remedies herein provided shall be cumulative and not exclusive of any rights or remedies provided by law.</li>
                    </ol>
                </li>
                <li>
                    <p style="text-decoration: underline;">Entire Agreement; No Third Party Rights</p>
                    <p>This AGREEMENT constitutes the entire Agreement between the Parties with respect to the subject matter hereof. No representations, inducements, promises, understandings, conditions, indemnities or warranties not set forth herein have been made or relied upon by any Party hereto.  </p>
                 <p>Neither this AGREEMENT nor any provision hereof is intended to confer upon any Person other than the Parties to this AGREEMENT any rights or remedies hereunder.</p>
                </li>
                <li>
                <p style="text-decoration: underline;">Further Assurances</p>
                    In connection with this AGREEMENT, as well as all transactions contemplated by this AGREEMENT, POSP agrees to execute and deliver such additional documents and to perform such additional actions as may be necessary, appropriate or reasonably requested to carry out or evidence the transactions contemplated hereby.
                </li>
                <li>
                <p style="text-decoration: underline;">Severability</p>
                    The invalidity or unenforceability of any provisions of this AGREEMENT in any jurisdiction shall not effect the validity, legality or enforceability of the remainder of this AGREEMENT in such jurisdiction or the validity, legality or enforceability of this AGREEMENT, including any such provision, in any other jurisdiction, it being intended that all rights and obligations of the Parties hereunder shall be enforceable to the fullest extent permitted by law.
                </li>
                <li>
                <p style="text-decoration: underline;">Captions</p>
                    The captions herein are included for convenience of reference only and shall be ignored in the construction or interpretation hereof.
                </li>
                <li>
                    <p style="text-decoration: underline;"> Counterparts</p>

This Agreement may be executed simultaneously in duplicate each of which will be deemed an original, but all of which will constitute one and the same instrument.

                </li>
                <li>
                    <p style="text-decoration: underline;">COMPLIANCE WITH LAWS</p>
                    Each Party represents that it shall abide by and observe all applicable laws, rules, regulations. 
                </li>
                <li>
                    <p style="text-decoration: underline;">Communication & Notices</p>
                    Any notice or other communication given pursuant to this Agreement must be in writing and (a) delivered personally, (b) sent by facsimile or other similar facsimile transmission, (c) or sent by registered mail, postage prepaid, as follows: 
                </li>
             </ol>
           </li>

         </ol>

         <div class="ifPos_First">
            <h4 style="text-decoration: underline;">If to (POSP):</h4>
          <div class="company_add textbold">
                    {{agreement_data.partner_name}} <br>
               {{agreement_data.address}}, <br>
               {{agreement_data.city}},{{agreement_data.pincode}}

               </div>
         </div>
           <div class="ifPos_Sec">
            <h4 style="text-decoration: underline;">If to the Broker (Company):</h4>
            <div class="company_add textbold">
                D2C Insurance Broking Pvt. Ltd., <br>
               Third Floor, Plot no 21, CBIP Building, <br>
               Sector 32, Gurgaon,122001

            </div>
            <div class="com_ofc"><span>Attn</span> : <span>Compliance Officer</span></div>
            <p><span style="font-weight: 700">IN WITNESS WHEREOF</span> the Parties have caused these present to be executed on the day and year first hereinabove written:</p>
           </div>
           <div class="ceo_name textbold">
          <p> ________sd_________ </p>
            Indraneel Chatterjee<br>
            Principal Officer
           </div>
            <div class="partner_name textbold">
            <p>________sd_________</p>
             <div class="partnerName">{{agreement_data.partner_name}}</div>
              <div class="posPertner"> POS Partner</div>
           </div>

           <div class="schedule_A">
                <h3 style="text-align: center">Schedule - A</h3>
                <p>The POSP  is allowed to offer ONLINE PRODUCTS of (the insurance company’s name etc)- with whom the company has entered into an agreement for sale through the web portals of the - subject to the following conditions:</p>
                <!--<ol style="list-style-type: decimal;">-->


                <p>The POSP is permitted only to offer the following ranges of products online or any other products range as approved from time to time by the Authority:—</p>
                {% if agreement_data.type == 6 %}
                 <h4 style="font-weight: 700; font-size:16px;">Non Life:</h4>
                  <ol type="a">
                    <li>Motor Comprehensive Insurance Package Policy for two wheeler, private car and commercial vehicles</li>
                     <li>Third Party liability(Act Only) policy of Two wheeler private car and commercial vehicles</li>
                      <li>Personal Accident Policy </li>
                       <li>Travel Insurance Policy </li>
                        <li>Home Insurance Policy</li>
                        <li>Crop Insurance with a sum insured limit of Rs. 1 lakh per acre for all kinds of crops</li>
                       <li>Hospital cash policy where a fixed benefit in the form of cash every day hospitalization with a limit of Rs. 1 lakh per individual </li>
                        <li>Critical illness policy which covers 8-9 critical illness with a maximum sum insured limit of Rs.3. Lakh per individual</li>
                        <li>Any other Policy specifically approved by the Authority</li>
                        
                  </ol>
                {% elif agreement_data.type == 9 %}
                  <h4 style="font-weight: 700; font-size:16px;">Life:</h4>

                  <ol type="a">
                    <li>Pure term insurance product with or without return of premium</li>
                     <li>Non-linked (Non-Participating) Endowment Product</li>
                      <li>Immediate Annuity Product</li>
                       <li>Micro-insurance product in Life </li>
                        <li>Any other product/ product category, if permitted by IRDAI</li>
                  </ol>
                {% endif %}

           </div>
           <!-- section 2 -->
            <div class="schedule_B">
                 <h3 style="text-align: center">Annexure II</h3>
                  <h3 style="text-align: center">Remuneration</h3>
                  <ol type="1">
                    <li>The POSP shall be paid or contract to be paid by way of remuneration (including royalty administration charges or travel charges or reasonable reimbursement of expenses incurred by POSP in performance of his duties/functions/obligations or in any other form), an amount not exceeding the limits as specified/notified by the Authority in the circulars/regulations issued in this behalf and as amended from time to time.</li>
                    <li>The settlement of accounts by - in respect of remuneration of POSP shall be done on a monthly basis and it must be ensured that there is no cross settlement of outstanding balances.</li>
                    <li>That none of the payments made by the company to the POSP constitute any legal relationship of employee and employer in the usual and general form of contract of employment and thereby POSP shall not be entitled to claim any dues such as: PF, Contribution towards medical benefits (including ESI Contribution/membership) leave encashment, ESOPS etc.,</li>
            
                  </ol>
            </div>
        </div>
     </div>
   </div>
</body>
</html>