<!-- templates/base.html -->
{% load static from staticfiles %}
{% load commontags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/material.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
	<link rel="stylesheet" href="{% static 'scss/icons/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <script type="text/javascript" src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
   	<script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
   	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	{% block header %}{% endblock %}
</head>
<body>
    <main>
        <!-- Error Alert Box start -->
		    <div id="alertBox" class="modal fade" tabindex="-1" role="dialog">
		      <div class="modal-dialog">
		          <div class="modal-content">
		              <div class="modal-body text-center">
		                  <div class="container-fluid">
		                      <div class="row">
		                          <div class="col-xs-12">
		                              <h5 class="content" style="font-size: 18px;"></h5>
		                          </div>
		                      </div>
		                      <div class="row">
		                          <div class="col-md-12 text-center">
		                              <button type="button" data-dismiss="modal" style="cursor: pointer;" class="btnSubmit">Ok</button>
		                          </div>
		                      </div>
		                  </div>
		              </div>
		          </div>
		      </div>
		    </div>
    	<!-- Error Alert Box end -->
    	{% block content %} {% endblock %}
    </main>
</body>
</html>