<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Renewbuy POSP Agreement emailer</title>
        <meta charset="utf-8">
        <meta name="description" content="Renewbuy">
        <meta name="author" content="Renewbuy">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <style type="text/css">
            #Table_01 {
                width: 650px;
                background: #fff;
                border: 1px solid #b2b2b2;
                font-family: Arial, Helvetica, sans-serif; 
            }
            .padding-10 {
                padding: 10px;
            }
            .address-details {
                font-weight: 600;
                font-size: 11px;
                font-family: Arial, Helvetica, sans-serif;
            }
            .table_content {
                font-size: 13px;
                line-height: 20px;
                color: #000 ;
                padding: 5px 15px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: normal;
            }
            .contact-details {
                padding: 5px 15px; 
                padding-bottom: 5%; 
                font-family: Arial, Helvetica, sans-serif; 
                font-size: 14px; 
                color: #615c5c;
            }
            .disclaimer {
               font-size: 11px;
               color:#000;
               text-align: justify;
               padding: 10px 20px;
               color: #fff;
            }

        </style>
    </head>
    <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
        <table width="650" border="0" cellspacing="0" cellpadding="0" align="center" id="Table_01">
            <tbody>
                <tr>
                <!-- renewbuy logo -->
                    <td colspan="6" align="left" valign="top" class="padding-10"><img src="https://static.renewbuy.com/pstatic/portal/images/renewbuy_logo.0b532ddf5ff2.png" alt="" style="max-width: 100%;"></td>

                    <!-- renewbuy communication address -->
                    <td colspan="6" align="right" valign="top" class="padding-10">
                        <table class="address-details">
                            <tr><td>Renewbuy.COM Plot No. 21,</td></tr>
                            <tr><td>CBIP Building 4th Floor, Sector 32,</td></tr>    
                            <tr><td>Gurugram, Haryana - 122001</td></tr>
                        </table>
                    </td> 

                    <!-- dividing line -->
                    <tr>
                        <td colspan="12" style="padding: 0px 15px;">
                            <hr style="border: 1px solid #b2b2b2;">
                            <hr style="border: 1px solid #b2b2b2; margin-top: -6px;">
                        </td>
                    </tr>
                </tr>

                <!-- center section -->
                <tr>
                    <td colspan="12" align="left" valign="top" class="table_content" style="font-weight: 700;">Dear 
                        <span style="font-weight: 700; text-transform: capitalize;">{{ user_name| title }}</span>,</b>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="12" align="left" valign="top" class="table_content"> Congratulations! Your IRDAI Approved Renewbuy (D2C Insurance Broking) Certified POSP agreement is updated and attached for your reference.
                    </td>
                </tr>
                
                <tr>
                    <td colspan="12" align="left" valign="top" class="table_content">Please Note that there's no change in your existing POSP certificate and the old certificate (which was already shared with you earlier at
                        successful completion of exam) will be valid.
                    </td>
                </tr>
                
                <tr>
                    <td colspan="12" align="left" valign="top" class="table_content">We value your contribution and hoping that you are having great experience with Renewbuy!
                    </td>
                </tr>
                <!-- contact details -->
                <tr>
                    <td colspan="12" align="left" valign="top" class="contact-details">Feel free to Call 18004197151 in case of any query
                    </td>
                </tr>

                <tr>
                    <td align="left" valign="top" class="table_content">Warm Regards,</td>
                </tr>
                <tr>
                    <td align="left" valign="top" class="table_content">Team RenewBuy</td>
                </tr>

                <!-- Footer Section -->
                <tr>
                    <td colspan="12" align="left" valign="top" style="background:#FFF;">
                       <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background:#2868b0;     margin-top: 20px;">
                            <tbody>
                              <tr>
                                <td align="left" valign="top" class="disclaimer"> D2C INSURANCE BROKING PVT. LTD (CIN U66030DL2013PTC249265) Broking License No. -505, License Code - IRDA/DB/571/14, License category- Direct Broker (Life & General), valid till 26/11/2020. This message is for private circulation only</td>
                              </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>