<!DOCTYPE html>
<html lang="en">

<head>
	<title>Registation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="width: 100%; margin: auto; font-family: sans-serif; font: 11px/19px; box-sizing: border-box; font-weight: 600; color:#545454">
	<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 600px; margin: auto; color: #545454; font-size: 13px;background: #f2f2ff26;">
		<tr>
			<td colspan="12" style="text-align: center;">
				<img src="{{domain}}static/images/logo.png" style="margin-bottom: -4px;  width: 150px;">
			</td>
		</tr>
		<tr>
			<td colspan="12" style="padding: 20px 0px;">
				Dear {{ user_name }},
			</td>
		</tr>
		<tr>
			<td colspan="12" style="padding: 10px 0;">Please click
				<a href="{{domain}}email_verification/{{uid}}/{{token}}">here</a> to verify your email.</td>
		</tr>
	</table>
</body>

</html>