<!DOCTYPE html>
<html lang="en" class="gr__s3_ap-south-1_amazonaws_com">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
	<title>Emailer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="width: 600px; margin: auto; font-family: sans-serif; font: 11px/19px; box-sizing: border-box; font-weight: 600;"
 data-gr-c-s-loaded="true">
	<table align="center" border="0" bgcolor="#f2f3f5" cellpadding="0" cellspacing="0" style="width: 600px; margin: auto; color: #4c4c4c;">
		<tbody>
			<tr>
				<td colspan="12">
					<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 600px; margin: auto; color: #4c4c4c;">
						<tbody>
							<tr>
								<td colspan="12" style="text-align: center; padding-top: 15px;">
									<img width="100px" src="https://www.travassured.com/assets/img/Logo.png" title="travAssured">
								</td>
							</tr>
							<tr>
								<td colspan="12">
									<img width="100%" src="{{domain}}static/images/ta/shadow-line.jpg" title="travAssured">
								</td>
							</tr>
						</tbody>
					</table>
					<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin: auto;  color: #4c4c4c;">
						<tbody>
							<tr>
								<td colspan="12">
									<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" style="padding: 20px 20px 0px 0px; background: #f4f5f7;">
										<tbody>
											<tr>
												<td colspan="12" style="font-size: 16px;color: #f1592a;font-weight: 700;padding-bottom: 7px;"><span
													 style=" display: inline-block; ">Dear Partner,</span>
												</td>
											</tr>
											<tr>
												<td colspan="12" style="font-size: 14px;">Greetings from <span style="color:#2e3192">Trav<span
														 style="color:#f3582c">Assured!</span></span></td>
											</tr>
											<tr>
												<td colspan="12" style="padding-bottom: 10px;"><img src="{{domain}}static/images/ta/boder-line-og.jpg"></td>
											</tr>
										</tbody>
									</table>
									<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" style="padding: 0px 20px 20px 20px; background: #f8f8f8;">
										<tbody>
											<tr>
												<td colspan="12" style="color:red; font-size:13px; padding-bottom: 10px;">
													We regret to inform you that your profile is pending for activation at our end since
													there’s an issue found with respect to your application.
												</td>
											</tr>
											<tr>
												<td colspan="12" style="font-size: 13px; padding-bottom: 10px;">Our reviewing team
													found that the PAN card you have uploaded doesn't match with Agency name/Your name, to
													continue with your activation we request you to upload PAN card of Agency/Yours.
												</td>
											</tr>
											<tr>
												<td colspan="12" style="background: #efefef;    border-radius: 10px">
													<table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" style="padding: 10px; background: #efefef;    border-radius: 10px;">
														<tbody>
															<tr>
																<td colspan="6" style="font-size: 13px;">To upload the required document please</td>
																<td colspan="6" style="text-align: center;"><a target="blank" href="{{domain}}profile"
																	 style="background: #f1592a;color: #fff;font-weight: 400;text-decoration: none;display: inline-block;padding: 11px 45px;border-radius: 20px; text-align: center;">Click</a></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td colspan="12" style="padding-bottom: 10px;padding-top:10px;font-size: 13px">
													We advise you to provide the missing/incorrect document so that we can process your
													application soon.
												</td>
											</tr>
											<tr>
												<td colspan="12" style="font-size: 13px; padding-bottom: 10px;">We are excited to have
													you among the thousands of our travel intermediaries and to provide a complete travel
													solution to the customers and earn a lucrative income up to <span style="color: #000; font-weight: 600;">Rs.
														1 Lac per month</span> too! We look forward to work closely with you to build a
													lucrative business vertical. Assuring you of our best services always.</td>
											</tr>
											<tr>
												<td style="padding:5px"></td>
											</tr>
											<tr>
												<td colspan="12" style="font-size: 13px; padding-bottom: 20px;">If you need any
													assistance, please feel free to contact our customer support team:</td>
											</tr>
											<tr>
												<td colspan="5">
													<div style="float: left;">
														<img src="{{domain}}static/images/ta/call-us.jpg" title="Call Us">
													</div>
													<div style="float: left;line-height: 54px;padding-left: 8px;">
														<span style="color: #f35828;">1800 419 7851</span>
													</div>
												</td>
												<td colspan="7">
													<div style="float: left;">
														<img src="{{domain}}static/images/ta/mail-us.jpg" title="Mail Us">
													</div>
													<div style="float: left;line-height: 54px;padding-left: 8px;">
														<a style="color: #3c3d97;" href="mailto:support@travassured.com" target="_top">support@travassured.com  </a>
													</div>
												</td>
											</tr>
											<tr>
												<td colspan="12" style="font-size: 13px; padding-bottom: 5px; padding-top: 10px; color: #f35828">Regards</td>
											</tr>
											<tr>
												<td colspan="12" style="font-size: 13px; padding-bottom: 20px;">Team <span style="color:#2e3192">Trav<span
														 style="color:#f3582c">Assured!</span></span></td>
											</tr>
											<tr>
												<td colspan="12" style="font-size: 13px; padding-bottom: 7px;">
													Agent Support Number (9 am to 9 pm): <span style="color: #f35828">1800 419 7851 </span>
												</td>
											</tr>
											<tr>
												<td colspan="12" style="font-size: 13px; padding-bottom:1px;">
													E-mail ID : <a style="color: #3c3d97" href="mailto:support@travassured.com" target="_top">support@travassured.com
													</a>
												</td>
											</tr>
											<tr>
												<td colspan="12">
													<img src="{{domain}}static/images/ta/boder-line-og.jpg" title="travAssured">
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>