<!DOCTYPE html>
<html lang="en">

<head>
	<title>Registation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="width: 100%; margin: auto; font-family: sans-serif; font: 11px/19px; box-sizing: border-box; font-weight: 600; color:#545454">
	<table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 600px; margin: auto; color: #545454; font-size: 13px;background: #f2f2ff26;">
		<tr>
			<td colspan="12" style="text-align: center;">
				<img src="http://www.travassured.com/static/images/Logo.png" style="margin-bottom: -4px;  width: 150px;">
			</td>
		</tr>
		<tr>
			<td colspan="12" style="padding: 20px 0px;">
				<span style="background:#f1592a; color: #fff; padding: 10px 20px; display: inline-block;
    border-radius: 0px 20px 20px 0px;">Dear {{ agency_name }},</span>
			</td>
		</tr>
		<tr>
			<td colspan="12">
				<span style="float: left; padding-right: 10px;">Thank you for registering yourself as a re-seller on</span>
				<span style="color:#2e3192; float: left;">Trav</span>
				<span style="color:#f1592a">Assured.com</span>
			</td>
		</tr>
		<tr>
			<td colspan="12" style="padding: 10px 0;">We are excited to have you join the thousands of travel intermediaries who have joined us to provide a complete travel
				solution to their customers and earn a lucrative side income too!</td>
		</tr>
		<tr>
			<td colspan="12" style="padding: 10px 0;">Please click
				<a href="{{domain}}email_verification/{{uid}}/{{token}}">here</a> to verify your email.</td>
		</tr>
		<tr>
			<td colspan="12" style="padding: 10px 0;">We are reviewing your profile currently. Once completed, your account will be activated within 24 working hours. </td>
		</tr>
		<tr>
			<td colspan="12" style="padding: 10px 0px 20px 0px">
				<span style="float: left; padding-right: 10px;">Watch this video to understand how easy it is to pitch</span>
				<span style="color:#2e3192; float: left;">Trav</span>
				<span style="color:#f1592a">Assured.com</span> to your outbound customers & close a sale: </td>
		</tr>
		<tr>
			<td colspan="12" style="text-align: center;">
				<a style="display: inline-block;" href="https://www.youtube.com/embed/XL4v-ggmeUM" target="_blank">
					<img height="250" src="http://www.travassured.com/static/images/leave-emailer.jpg" width="90%" />
				</a>
			</td>
		</tr>
		<tr>
			<td colspan="12" style="padding: 20px 0px 10px 0px">
				We look forward to work closely with you to build a lucrative business vertical. Assuring you of our best services at all
				times.
			</td>
		</tr>
		<tr>
			<td colspan="12" style="padding-bottom:10px;">Regards,</td>
		</tr>
		<tr>
			<td colspan="12" style="padding-bottom:20px;">
				<span style="float: left; padding-right: 10px;">Team</span>
				<span style="color:#2e3192; float: left;">Trav</span>
				<span style="color:#f1592a; float: left;">Assured</span>
			</td>
		</tr>
		<tr>
			<td colspan="12" style="padding-bottom: 10px;">Agent Support Number
				<span style="color:#2e3192">(9 am to 9 pm)</span> :
				<span style="color:#f1592a">1800 419 7851</span>
			</td>
		</tr>
		<tr>
			<td colspan="12">
				<span style="color:#2e3192">E-mail ID</span> : partner@travassured.com </td>
		</tr>
	</table>
</body>

</html>