{% extends "accounts/base.html" %} {% load static from staticfiles %}
{% block page_title %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Dashboard</h3>
    </div>
    <div class="col-md-7 col-4 align-self-center"> </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
{% endblock %}

{% block page_content %}
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-wrap">
                            <div>
                                <h3 class="card-title">Change Mapping</h3>
                                <h6 class="card-subtitle"></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <form method="POST" class="post-form" enctype="multipart/form-data">  
						        {% csrf_token %}
                                <p><label for="id_reporting_type">Reporting type:</label>
                                    <select name="reporting_type" required="" id="id_reporting_type">
                                        <option value="" selected="">Select</option>
                                        {% for value, field in fields %}
                                            <option value="{{value}}">{{ field }}</option>
                                        {% endfor %}
                                    </select>
                                </p>
                                <p>
                                    <input type="file" name="file" required="" id="id_file">
                                </p>
						        <button type="submit" class="save btn btn-default">Submit</button>  
							</form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}