{% extends "base.html" %}
{% load static from staticfiles %}
{% load commontags %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<script type="text/javascript" src="{% static 'js/input_fields.js' %}"></script>
<script type="text/javascript" src="{% static 'js/loginWidget.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom_profile.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fineCrop.js' %}"></script>
<script type="text/javascript">
    const CURRENT_ENV_API_KEY  = "{% read_setting 'CURRENT_ENV_API_KEY' %}"
    const CURRENT_ENV_SECRET_KEY  = "{% read_setting 'CURRENT_ENV_SECRET_KEY' %}"
    const DOMAIN  = "{% read_setting 'DOMAIN' %}";
    const TA_LOGO = "{%  static 'images/travlogo.png' %}"
    const TA_DOMAIN = "{% read_setting 'TA_DOMAIN' %}"
    const RETAIL_DOMAIN = "{% read_setting 'RETAIL_DOMAIN' %}"
    const RB_LOGO = "{%  static 'images/renewbuy_logo.png' %}"
    const RENEWBUY_DOMAINCODE = "{% read_setting 'RENEWBUY_DOMAINCODE' %}"
    var dummyImage = "{% static 'images/img.jpg' %}"
</script>
<div class="main">
    <div class="container">
            <div class="logo">
                <a id="logoLink" target="_blank" href="" style="display:inline-block;">
                    <img id="logo" src="" />
                </a>
            </div>
        <div class="login_sdk" id="login_sdk">
        </div>
    </div>
</div>
<!-- fine crop html -->
<div class="cropHolder">
        <div id="cropWrapper">
            <img id="inputImage" src="{% static 'images/face.jpg' %}">
        </div>
        <div class="cropInputs">
            <div class="inputtools">
                <p>
                    <span>
                        <img src="{% static 'images/horizontal.png' %}">
                    </span>
                    <span>horizontal movement</span>
                </p>
                <input type="range" class="cropRange" name="xmove" id="xmove" min="0" value="0">
            </div>
            <div class="inputtools">
                <p>
                    <span>
                        <img src="{% static 'images/vertical.png' %}">
                    </span>
                    <span>vertical movement</span>
                </p>
                <input type="range" class="cropRange" name="ymove" id="ymove" min="0" value="0">
            </div>
            <br>
            <button class="cropButtons" id="zplus">
                <img src="{% static 'images/add.png' %}">
            </button>
            <button class="cropButtons" id="zminus">
                <img src="{% static 'images/minus.png' %}">
            </button>
            <br>
            <button id="cropSubmit">submit</button>
            <button id="closeCrop">Close</button>
        </div>
</div>
<!-- fine crop html end -->

<div class="container">
    <div class="main_container" id="filedsDetails">
        <div class="side_bar">
            <div class="profile_container">
                <div class="profile clearfix" style="text-align: center; position: relative;">
                    <div class="profile_Left">
                        <div class="profile_img">
                            <img id="profile_img" src="{% static 'images/img.jpg' %}" />
                        </div>
                        <div class="basic_info"> 
                            <div class="pro_name">
                            </div>
                        </div>                     
                    </div>
                    <div class="profile_edit">
                        <input type="file" id="profileImage" name="photo" accept="image/png, image/jpeg">
                        <span class="imageEdit" style="padding-left: 15px;color: #a19f9f;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span> 
                         <span class="imageEdit">EDIT</span>                    
                    </div>
                </div>
                <div class="new_profile_conatiner">
                </div>
                <div class="progressWrap">
                    <div class="progressvalue">
                        <span class="progressbarvalue"></span> <span>complete</span>
                    </div>
                    <div id="profilebar" class="progressValue"></div>
                </div>
            </div>
        </div>

        <div class="main_bar" id="mainbarWrap">
            <div class="container-fluid">
                <div class="row" id="primary_form">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader">
    <div class="fetching_profile"><i class="fa fa-spinner fa-spin"></i> <span id="load_text">Fetching Profile</span></div>
</div>
{% endblock %}

