{% load static from staticfiles %}
{%load commontags%}
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Sign in</title>
	</head>
	<body>

	</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
	var domain = "{% read_setting 'DOMAIN' %}" 
	var authorizedDomains = [];
	{% for domain in allowed_domains %}
		var domain = "{{ domain }}"
		domain = domain.replace(/[^a-zA-Z/./ ]/g,'');
		authorizedDomains.push(domain);
	{% endfor %}
</script>
<script type="text/javascript" src="{% static 'js/server.js' %}"></script>
</html>