<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %} {% block title %}Enter new password{% endblock %} {% block content %}
<h1>Set a new password!</h1>
<form method="POST">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Change my password">
</form>
{% endblock %}