<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %} {% block title %}Password reset complete{% endblock %} {% block content %}
<h1>Password reset complete</h1>
<p>Your new password has been set. You can log in now on the log in page.</p>
{% endblock %}