<!DOCTYPE html>
<html>
<head>
<style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
    th, td {
    padding: 15px;
    }
</style>

</head>
<body>
    <h4>Hi,</h4>
    <br>
    <p>This is to apprise you all that below mentioned BP have been deactivated on `{{date}}`.</p>
    <br>
    <table>
        <thead>
            <tr>
                {% for key, val in bp_data.items %}
                <th>{{key}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for key, val in bp_data.items %}
                    <td>{{val}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <br>
    <p>In case of any ambiguity please contact `{{contact_mail}}`.</p>
    <br>
    <p>Thanks for your support & cooperation!</p>
    <p>Regards,</p>
    <p>Renewbuy Support'</p>
</body>
</html>