<h4>Hi {{ salutation_name }}</h4>,<br>
<p>{{ new_partner_count }} new partners has been directly mapped to you.</p>
<p>Click <a href="{{ click_url }}">here</a> to view/update.</p>
<br>
<p>Regards,</p>
<p>Team Renewbuy</p>
