<h4>Hi {{ salutation_name }},</h4><br>
<p>Your request of team member changes has been approved.</p>
<p>Click <a href="{{ click_url }}">here</a> to view/update.</p><br>
<p>Regards,</p>
<p>Team Renewbuy</p>
