<!-- <h4>Hi {{salutation_name}},</h4><br>
<p>Due to termination of your manager({{prev_manager_name}}) having unique_code({{prev_manager_unique_code}}),
    this new manager({{new_manager}}({{new_manager_unique_code}})) has been assigned to you.</p><br>
<p>Regards,</p>
<p>Team Renewbuy</p> -->
{% load static from staticfiles %}
{% load commontags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Partner remapping emailer</title>
        <meta name="description" content="Renewbuy">
        <meta name="author" content="Renewbuy">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <style type="text/css"></style>
    </head>
    <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
        <table width="650" border="0" cellspacing="0" cellpadding="0" align="center" id="Table_01">
            <!-- Header Image Section -->
            <tr>
                <td colspan="6" align="left" valign="top" style="color:#92979B; font-size:18px; font-weight:bold; padding: 35px 10px;">Spreading smiles across miles</td>
                <td colspan="6" align="right" valign="top" style="padding: 5px 10px;">
                    <img src="{{domain}}/static/images/renewbuy_logo.png" alt="Fly contest" style="float:right">
                </td>
            </tr>
            <!-- Header Image Section -->

            <!-- center Image Section -->
            <tr>
                <td colspan="12" align="center" valign="top" style="width: 100%; padding: 5px 10px;">
                    <img src="https://www.renewbuy.com/sites/default/files/inline-images/hand_shaked.png" alt="Fly contest" align="center">
                </td>
            </tr>

            <!-- center Image Section -->

            <tr >
                <td colspan="12" align="left" valign="top" style="color:#1769b2; font-size:14px; font-weight:bold; padding: 5px 10px;">
                    <strong>Hi {{salutation_name}},</strong>
                </td>
            </tr>

            <tr>
                <td colspan="12" align="center" valign="top" style="line-height:24px; color:#1769b2; font-size:20px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; padding: 5px 10px;">
                    Greetings From Renewbuy
                </td>
            </tr>
            <tr>
                <td colspan="12" align="left" valign="top" style="line-height:24px; color:#1769b2; font-size:14px; padding: 5px 10px;">
                    This is to inform you that we have updated your dedicated manager ({{manager_name}}). 
                    Please keep these details updated at your end for any future communication with Renewbuy.
                </td>
            </tr>

            <tr align="center">
                <td colspan="12">
                    <table>
                        {% if not data %}
                            <tr>
                                <td colspan="6" valign="top" style="padding:0 10px; line-height:24px; color:#1769b2; font-size:14px; font-weight: 600;">Telesales Relationship Manager</td> 
                            </tr>
                                <td colspan="6" valign="top" style="padding:0 20px; line-height:24px; color:#1769b2; font-size:14px;">Name: {{ tele.name }}</td>
                            </tr>
                            <tr>
                                <td colspan="6" valign="top" style="padding:0 20px; line-height:24px; color:#1769b2; font-size:14px;">Email: {{ tele.email }}</td>
                            </tr>
                            <tr>
                                <td colspan="6" valign="top" style="padding:0 20px; line-height:24px; color:#1769b2; font-size:14px;">Contact Number: {{ tele.mobile }}</td>
                            </tr>
                        {% endif %}
                        {% for dict_items in data %}
                                <tr>
                                    <td colspan="6" valign="top" style="padding:0 10px; line-height:24px; color:#1769b2; font-size:14px; font-weight: 600;">MANAGER</td>
                                {% if forloop.counter == 1 and tele.name %}
                                        <td colspan="8" valign="top" style="line-height:24px; color:#1769b2; font-size:14px; font-weight: 600;">Telesales Relationship Manager</td> 
                                {% endif %}
                                </tr>
                                    <tr>
                                       <td colspan="6" valign="top" style="padding:0 20px; line-height:24px; color:#1769b2; font-size:14px;">Name: {{ dict_items.name }}</td>
                                       {% if forloop.counter == 1 and tele.name %}
                                            <td colspan="6" valign="top" style="padding:0 20px; line-height:24px; color:#1769b2; font-size:14px;">Name: {{ tele.name }}</td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td colspan="6" valign="top" style="padding:0 20px; line-height:24px; color:#1769b2; font-size:14px;">Email: {{ dict_items.email }}</td>
                                        {% if forloop.counter == 1 and tele.email %}
                                            <td colspan="6" valign="top" style="padding:0 20px; line-height:24px; color:#1769b2; font-size:14px;">Email: {{ tele.email }}</td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td colspan="6" valign="top" style="padding:0 20px; line-height:24px; color:#1769b2; font-size:14px;"></td>
                                        {% if forloop.counter == 1 and tele.mobile %}
                                            <td colspan="6" valign="top" style="padding:0 20px; line-height:24px; color:#1769b2; font-size:14px;">Contact Number: {{ tele.mobile }}</td>
                                        {% endif %}
                                    </tr>                               
                        {% endfor %}
                    </table>
                </td>
            </tr>

            <tr>
                <td colspan="12" style="padding: 10px 10px 0px 10px; line-height:24px; color:#1769b2; font-size:14px;">Reason for support update:</td>
            </tr>
            <tr>
                <td colspan="12" style="padding:0 10px; line-height:24px; color:#1769b2; font-size: 14px;">
                    <img src="https://www.renewbuy.com//sites/default/files/inline-images/checkbox_checked.png" style="height: 15px; vertical-align: middle; margin-bottom: 2px;">
                    <span style="padding-left: 5px;">
                        {% if reason == "Resigned" %}
                            Resigned
                        {% else %}
                            Organisation level resource movement
                        {% endif %}
                    </span>
                </td>
            </tr>

            <!-- Footer Team renewbuy Section -->
            <tr>
                <td colspan="12" style="padding:10px 10px 5px 10px">
                    <table style="width: 100%; color:#1769b2;">
                        <tr>
                            <td colspan="12" style="padding: 10px 10px 0px 0px; line-height:24px; color:#1769b2; font-size:14px;">Feel free to reach out to your new support in case of any insurance assistance.
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" style="font-weight:600; font-size: 14px;"><br>Thanks & Regards</td>
                        </tr>
                        <tr>
                            <td colspan="12" style="font-weight:bold; font-size: 14px;">Team Renewbuy</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td colspan="12" align="center" style="padding:20px 10px 0 10px; color: #1769b2; font-size: 14px;">Visit renewbuy.com</td>
            </tr>
            <tr>
                <td colspan="12" align="center" style="padding: 0 10px; color: #1769b2; font-size: 14px;">To refer to the Relationship managers please call 18004197852</td>
            </tr>
          <!-- Footer Team renewbuy` Section -->
        </table>
    </body>
</html>