<h4>Dear {{ salutation_name }},</h4><br>
<p>We are sharing this mail to inform you that the following member(s)
    who were reporting to you directly has/have left the organization on {{ leaving_date }}.</p>

{% for data in reporting_data %}
    <p><b> {{ forloop.counter }}. {{ data.prev_manager.get_full_name }} - {{ data.prev_manager.unique_code }}
        ({{ data.reportees_count }})</p></b><br>
{% endfor %}

<br>

<p>Team members of above mentioned employees have been assigned to you to track their business.
    We are sharing their details for your reference. </p><br>
<p>If you wish to re-allocate them, please connect with your HR spoc.</p>

<p>Thanks & Regards,</p>
<p>Team Renewbuy</p>