<h4>Hi {{salutation_name}},</h4>
<br>
<p>System has suggested new reportees in your direct reportees team members.</p>.
<p>Click <a href="{{ click_url }}">here</a> to approve / reject.</p><br>
<p>Regards,</p>
<p>Team Renewbuy</p>
